Task1_0507. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요

strings = ('a','ca','bar',aaaa','ababa')

In [2]:
strings = ('a' ,'ca' ,'bar','aaaa','ababa')
strings_sorted = sorted(strings, key = lambda x: )

In [19]:
strings = ('a' ,'ca' ,'bar','aaaa','ababa')
strings_map = map(lambda x: set(x), strings)
new_str = []
len_str = []
new_dic = {}
print(strings_map)
for i in range(len(strings)):
    new_str.append(next(strings_map))
print(new_str)
for i in range(len(new_str)):
    len_str.append(len(new_str[i]))
print(len_str)
a= 0
for i in strings:
    new_dic[i] = len_str[a]
    a += 1

print(new_dic)
dic_sorted = sorted(new_dic.items(), key = lambda x:x[1],reverse=True)
print(dic_sorted)

output = []
for i in range(len(dic_sorted)):
    output.append(dic_sorted[i][0])

print(output)

<map object at 0x7fcf94b2f940>
[{'a'}, {'c', 'a'}, {'a', 'b', 'r'}, {'a'}, {'a', 'b'}]
[1, 2, 3, 1, 2]
{'a': 1, 'ca': 2, 'bar': 3, 'aaaa': 1, 'ababa': 2}
[('bar', 3), ('ca', 2), ('ababa', 2), ('a', 1), ('aaaa', 1)]
['bar', 'ca', 'ababa', 'a', 'aaaa']

Task2_0507. a,b 변수와 연산자를 입력하면 사칙연산을 수행하는 코드를 작성하세요.(eval 사용하는 경우와 안하는 경우)

In [9]:
print(eval(input('연산거리 주세요 : ')))

연산거리 주세요 : 5*5
25

In [6]:
cd = input('연산거리 주세요 : ')
rp = cd.replace(" ", "")

type(rp)
new = list(rp)
if new[1] == '+':
    print(int(new[0]) + int(new[2]))
elif new[1] == '-':
    print(int(new[0]) - int(new[2]))
elif new[1] == '/':
    print(int(new[0]) / int(new[2]))
elif new[1] == '*':
    print(int(new[0]) * int(new[2]))

연산거리 주세요 : 5  - 4
1

Task3_0507. list1에 대해서 아래와 같이 출력하는 코드를 작성하세요.

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.\
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.\
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.\
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.\
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.\
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다

In [43]:
list1 = ['김부장', '이차장', '김과장', '이대리', '오사원', '김인턴']

for idx, element in enumerate(list1):
    print(f'인사평가 {idx +1}번째 해당자는 {element}입니다. 회의실 A로 오시기 바랍니다.')

인사평가 1번째 해당자는 김부장입니다. 회의실 A로 오시기 바랍니다.
인사평가 2번째 해당자는 이차장입니다. 회의실 A로 오시기 바랍니다.
인사평가 3번째 해당자는 김과장입니다. 회의실 A로 오시기 바랍니다.
인사평가 4번째 해당자는 이대리입니다. 회의실 A로 오시기 바랍니다.
인사평가 5번째 해당자는 오사원입니다. 회의실 A로 오시기 바랍니다.
인사평가 6번째 해당자는 김인턴입니다. 회의실 A로 오시기 바랍니다.

Task4_0507. 주어진 문자열 리스트의 요소들을 대문자로 변환하세요.

words = ["hello", "world", "python", "map"]

In [42]:
words = ["hello", "world", "python", "map"]
new_words = []
upper_words = map(lambda x: x.upper(),words)
for i in range(len(words)):
    new_words.append(next(upper_words))

print(new_words)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

Task5_0507. 주어진 리스트에서 'p'로 시작하는 단어만 필터링하세요.

words = ["python", "is", "powerful", "programming", "language", "pandas"]

In [40]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]
p_words = []
for i in range(len(words)):
    if words[i][0] == 'p':
        p_words.append(words[i])

print(p_words)

['python', 'powerful', 'programming', 'pandas']

Task6_0507. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(2가지 방법)

In [14]:
list = [0,1,2,3,4,5,6]
list.pop(2)
print(list)

[0, 1, 3, 4, 5, 6]

In [15]:
list = [0,1,2,3,4,5,6]
list.remove(2)
print(list)

[0, 1, 3, 4, 5, 6]

Task7_0507. 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요.

[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]\
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]\
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [18]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
result = []
for i in range(3):
    result.append((a[i],b[i]))
print(result)

[(1, 4), (2, 5), (3, 6)]

In [19]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
result = []
for i in range(3):
    result.append((a[i],b[i],c[i]))
print(result)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [22]:
asd = ('abc','def')
qwe = []
for i in range(3):
    qwe.append((asd[0][i],asd[1][i]))
print((qwe))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

Task8_0507. url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [39]:
import requests
from bs4 import BeautifulSoup

def fetch_website_content(url):

    response = requests.get(url)
    if response.status_code == 200:

        soup = BeautifulSoup(response.text, 'html.parser')
        li = soup.select_one('li')
        a = li.a
        path1 = a['href']
        print("Host domain:", path1 if soup.title else "No title found")
    else:
        print("failed to retrieve the webpage")
        print("Status code:", response.status_code)

if __name__ == "__main__":
    url = input('url을 복붙하세요 >>>')
    fetch_website_content(url)

url을 복붙하세요 >>>https://n.news.naver.com/mnews/article/028/0002334601?sid=105
Host domain: https://news.naver.com/