Q1. 변수 x에 숫자 10을 할당하고, 변수 y에 문자열 "hello"를 할당한 뒤, 두 변수를 출력하세요.

In [ ]:
x = 10
y = "hello"
print(x, y)

Q2. 숫자가 양수인지 음수인지를 판별하는 조건문을 작성하세요.

In [ ]:
a=int(input('숫자입력 : '))
if a<0 :
    print('음수')

if a==0 :
    print("0을 제외한 숫자를 입력해주세요 ")

if a>0 :
    print("양수 ")

Q3. 리스트 [1, 2, 3, 4, 5]의 각 요소를 출력하는 반복문을 작성하세요.

In [ ]:
list = [1, 2, 3, 4, 5]
for element in list:
  print(element)

Q4. 두 숫자를 입력받아 더하는 함수 add를 정의하고 호출하세요.

In [ ]:
def add(num1, num2):

  return num1 + num2


num1 = int(input("숫자를 입력하세요: "))
num2 = int(input("더할 숫자를 입력하세요: "))


sum = add(num1, num2)
print("결과 값:", sum)

Q5. 문자열 "hello"에서 처음 세 문자를 슬라이싱하여 출력하세요.

In [16]:
a = "hello"

print(a[:3])

hel

Q6. 주어진 정수 리스트에서 가장 자주 등장하는 숫자(최빈값)를 찾아 반환하는 함수를 작성하세요. 만약 최빈값이 여러 개라면, 그 중 가장 작은 숫자를 반환하세요.

numbers = [1, 3, 2, 3, 4, 1, 3, 3]

Q7. 딕셔너리 person에서 키 "name"의 값을 출력하세요.

In [13]:
person = {"name": "이상협", "age": 26}

print(person["name"])

이상협

Q8. 이름과 나이를 입력받아 "Hello, [name]. You are [age] years old." 형식으로 출력하세요.

In [15]:
Name = str(input("이름을 입력하세요 : "))
Age = int(input("나이를 입력하세요 : "))

print(f"Hello,[{Name}]. You are[{Age}]years old")

이름을 입력하세요 : stir이ㅏ상
나이를 입력하세요 : 21
Hello,[stir이ㅏ상]. You are[21]years old

Q9. 0부터 9까지 숫자 중에서 홀수만 포함하는 리스트를 리스트 컴프리헨션을 사용하여 생성하세요.

In [ ]:
from ast import comprehension
comprehension

Q10. 숫자를 0으로 나누려 할 때 발생하는 예외를 처리하는 코드를 작성하세요.

In [28]:
def log(num1,num2):
  output=0
  output = num1 / num2

  return output

a = int(input("넣을 숫자를 입력하세요"))
b = int(input("나눌 숫자를 입력하세요"))

if b==0 :
    print("0을 제외한 숫자를 입력해주세요")
else :
    print(log(a,b))

넣을 숫자를 입력하세요50
나눌 숫자를 입력하세요0
0을 제외한 숫자를 입력해주세요