In [ ]:
with open('mydata.txt','w') as f:
    f.write(
'''
a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again


if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late
''')
with open('mydata.txt', 'r') as f:
    data = f.read()
    print(data)

In [2]:
import re
with open('mydata.txt','r') as f:
    text = f.read()
char_list = re.sub(r'[ ,.!\n\']', '' ,text)
word_list = re.sub(r'[,.!\n\']', '',text).lower().split()

print(len(text))
print(len(char_list))
print(len(word_list))

1073
840
178

In [8]:
txt = '''unite! itls not
too late
'''

char_list = re.sub(r'[, .i!\n\']', '', txt)
print(char_list, len(char_list))

untetlsnottoolate 17

Task1_0509. 주어진 텍스트에서 문자 빈도를 아래와 같이 출력하세요.(사용자 함수 사용)

가장 많이 나온 문자 5개를 뽑아 봤습니다.\
[e] -> [97]회 나타남\
[t] -> [85]회 나타남\
[a] -> [78]회 나타남\
[o] -> [73]회 나타남\
[s] -> [60]회 나타남

In [ ]:
def text_frequency(filename):
    with open(filename, 'r') as f:
        data = f.read()
    words_list = data
    words_list = data.replace('.', '').replace('\'', '').replace('?', '').replace('\n', '').replace('!', '').replace(" " , '').lower().split()
    save = words_list[0]
    rsave = list(save)
    output = {}
    for i in rsave:
        if i in output:
            output[i] += 1
        else:
            output[i] = 1

    st_output = sorted(output.items(), key = lambda x : x[1],reverse = True)
    print('가장 많이 나온 문자 5개를 뽑아 봤습니다.')
    for i in range(5):
        a,b=st_output[i]
        print(f'[{a}]=>[{b}]회 나타남')


text_frequency('mydata.txt')

가장 많이 나온 문자 5개를 뽑아 봤습니다.
[e]=>[97]회 나타남
[t]=>[85]회 나타남
[a]=>[78]회 나타남
[o]=>[73]회 나타남
[n]=>[60]회 나타남

In [ ]:
!ls

mydata.txt  sample_data

Task2_0509.  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요.

[1,2,3,4,5] -> [1,4,9,16,25]\
[1,2,3,4,5] -> [1,2]

In [ ]:
l1 =[1,2,3,4,5]
db = lambda x: x*x
output= list(map(db, l1))
print(output)


l2 =[1,2,3,4,5]
db = lambda x: x<3
output= list(filter(db, l2))
print(output)

[1, 4, 9, 16, 25]
[1, 2]

Task3_0509. [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

In [ ]:
def filtering(l1):
    zover = []
    for i in l1:
        if i >0:
            zover.append(i)

    print(zover)

l1 =  [1,-3,2,0,-5,6]

filtering(l1)

[1, 2, 6]

Task4_0509. **args를 이용하여 아래와 같이 출력할 수 있는 사용자 함수 func2를 작성하세요.

Width: 100\
Height: 200\
Other arguments: {'color': 'red', 'thickness': 5}

Width: 100\
Height: 200\
Other arguments: {'color': 'red', 'thickness': 5, 'type': 'large'}

In [ ]:
def func2(Width, Height, **args):
    print(f'Width: {Width}')
    print(f'Height: {Height}')
    print(f'Other arguments: {args}')

func2(100,200,color='red', thickness= 5)
print()
func2(100,200,color='red', thickness= 5, type= 'large')

Width: 100
Height: 200
Other arguments: {'color': 'red', 'thickness': 5}

Width: 100
Height: 200
Other arguments: {'color': 'red', 'thickness': 5, 'type': 'large'}

Task5_0509. 아래와 같은 결과를 얻을 수 있도록 사용자 함수 func3를 작성하세요.

Width: 100, Height: 200, Color: blue, Thickness: 1\
Width: 100, Height: 200, Color: red, Thickness: 15

In [ ]:
def func3(**args):
    for a in args:
        print(f'{a}:{args[a]}' , end = ',')

func3(Width=100,Height=200,Color='blue', Thickness=1)
print()
func3(Width=100,Height=200,Color='red', Thickness=15)

Width:100,Height:200,Color:blue,Thickness:1,
Width:100,Height:200,Color:red,Thickness:15,

Task6_0509. 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

In [10]:
def avg(*args):
    sum = 0
    for i in args:
        sum += i
    return sum / len(args)

print(avg(1,2,3))

2.0

In [9]:
#예시
def avg(*args):
    return sum(args) / len(args)

print(avg(1,2,3))

2.0

Task7_0509. 원의 면적과 둘레의 길이를 구하는 사용자 함수를 작성하여 반지름이 5와 10일때 면적과 둘레를 구하세요(반올림:round())

In [12]:
def src(ardius):
    area = (ardius **2) * 3.141592
    cir = 2*ardius*3.141592
    print(f'반지름이{ardius}인 원의 면적은 : {area} 둘레는 : {cir: 0.2f}')

src(5)
src(10)

반지름이5인 원의 면적은 : 78.5398 둘레는 :  31.42
반지름이10인 원의 면적은 : 314.1592 둘레는 :  62.83

In [11]:
#예시
import math
def area_circumference(r):
    area = math.pi*r*r
    circumference = 2*math.pi*r
    print(f"면적: {round(area,2)}, 둘레: {round(circumference,2)}")

area_circumference(5)
area_circumference(10)

면적: 78.54, 둘레: 31.42
면적: 314.16, 둘레: 62.83

Task8_0509. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램을 작성하세요.

In [ ]:
page = lambda a,b: a*b
total = int(input('게시물의 총 건수는? >>'))
op = int(input('한 페이지에 보여줄 게시물의 수는? >>'))
print(f'총 페이지 수는{page(total,op)}')

게시물의 총 건수는? >>5
한 페이지에 보여줄 게시물의 수는? >>20
총 페이지 수는100

In [13]:
#예시
import math
total = int(input('게시물의 총 건수는? >>'))
show = int(input('한 페이지에 보여줄 게시물의 수는? >>'))
result = math.ceil(total/show)
print(f'총페이지수는 {result} 입니다.')

게시물의 총 건수는? >>500
한 페이지에 보여줄 게시물의 수는? >>12
총페이지수는 42 입니다.

Task9_0509. 위의 문제를 *args를 사용한 사용자 함수 bignum을 작성하여 bignum(20,1,30)과 bignum(20,10,50,70, 100)의 결과를 출력하세요.

In [ ]:
def bignum(*args):
    save = 0
    for i in args:
        if i > save:
            save= i
        else:
            continue
    print(f'큰수 is {save}')

bignum(20,1,30)
bignum(20,10,50,70, 100)

큰수 is 30
큰수 is 100

In [14]:
def bignum(*args):
    return max(args)

print(bignum(5,4,8,7,5,505,95,77,89))
print(bignum(5,4,8,7,5,50,95,77,89))

505
95

Task10_0509. 위의 계산을 연산자를 choice로 가변적인 숫자들을 *args로 사용한 사용자 함수 cal을 이용하여 다음을 수행하세요.

cal('*',1,2,3,4,5)

cal('+',1,2,3,4,5,6,7)

cal('-', 1,2,3,4,5,6)

cal('/' 10,4,5) = 0예외처리할것

In [ ]:
def cal(choice, *args):

    if choice == '*':
        save = 1
        for i in args:
            save *= i
        print(save)

    elif choice == '+':
        save = 0
        for i in args:
            save += i
        print(save)
    elif choice == '-':
        save = 0
        for i in args:
            save -= i
        print(save)
    elif choice == '/':
        try:
            save = 1
            for i in args:
                save /= i
            print(save)
        except ZeroDivisionError:
            print("0으로 나누기 금지!")
    else:
        print('올바른 값을 입력해주세용')

cal('*',1,2,3,4,5)

cal('+',1,2,3,4,5,6,7)

cal('-', 1,2,3,4,5,6)

cal('/', 10,4,0)

120
28
-21
0으로 나누기 금지!

In [19]:
def cal(choice, *args):
    result = args[0]
    for i in args[1:]:
        if choice == '*':
            result *= i
        elif choice == '+':
            result += i
        elif choice == '-':
            result -= i
        elif choice == '/':
            try:
                result /= i
            except ZeroDivisionError:
                print("0으로 나누기 금지!")
                return
        else:
            print('올바른 값을 입력해주세용')
    print(result)

cal('*',1,2,3,4,5)

cal('+',1,2,3,4,5,6,7)

cal('-', 1,2,3,4,5,6)

cal('/', 10,4,0)

120
28
-19
0으로 나누기 금지!