Task1. 주어진 df의 날짜 리스트를 datetime 형식으로 변환하고, 변환된 데이터프레임의 년도, 월, 일 열을 추가하시오.

In [ ]:
import pandas as pd
import numpy as np
# 날짜 문자열 리스트
date_list = ['2023-01-01', '2023-02-15', '2023-03-30']

# 데이터프레임 생성
df = pd.DataFrame(date_list, columns=['date'])


df['New_Date'] = pd.to_datetime(df['date'])
df.info()
df.index

df['year']=np.nan
df['month'] = np.nan
df['day'] = np.nan
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3 non-null      object
 1   New_Date  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 176.0+ bytes

         date   New_Date  year  month  day
0  2023-01-01 2023-01-01   NaN    NaN  NaN
1  2023-02-15 2023-02-15   NaN    NaN  NaN
2  2023-03-30 2023-03-30   NaN    NaN  NaN

In [ ]:
for i in range(len(df.index)):
    df['year'][i]=df['date'][i].strftime('%Y')
    df['month'][i]=df['date'][i].strftime('%m')
    df['day'][i]=df['date'][i].strftime('%d')
df

In [ ]:
#모답
#dt 접근자는 열에 대해 다양한 날짜 및 시간 관련 속성을 추출하는데 사용
df.drop('date', axis=1,inplace=True)
df['year'] = df['New_Date'].dt.year
df['month'] = df['New_Date'].dt.month
df['day'] = df['New_Date'].dt.day
df

    New_Date  year  month  day
0 2023-01-01  2023      1    1
1 2023-02-15  2023      2   15
2 2023-03-30  2023      3   30

Task2. 주어진 월간 데이터를 타임스탬프로 변환하고, 변환된 결과에서 시간을 제외한 날짜만 출력하시오.

In [ ]:
import pandas as pd

# 문자열을 Period로 변환
period_data = pd.Series(['2023-01', '2023-02', '2023-03'], name='period')
period_data

0    2023-01
1    2023-02
2    2023-03
Name: period, dtype: object

In [ ]:
# 문자열을 Period로 변환
period_data = period_data.astype('period[M]')

#Period를 Timestamp로 변환
timestamp_data = period_data.apply(lambda x:x.to_timestamp())

#날짜만 출력
#print(timestamp_data.dt.date)
print(timestamp_data)

0   2023-01-01
1   2023-02-01
2   2023-03-01
Name: period, dtype: datetime64[ns]

Task3. 주어진 날짜 데이터 시리즈를 분기로 변환하고, 각 분기별로 데이터의 개수를 출력하세요.

In [ ]:
import pandas as pd

# 날짜 데이터 시리즈
date_series = pd.Series(pd.date_range('2023-01-01', '2023-12-31', freq='M'))
date_series

0    2023-01-31
1    2023-02-28
2    2023-03-31
3    2023-04-30
4    2023-05-31
5    2023-06-30
6    2023-07-31
7    2023-08-31
8    2023-09-30
9    2023-10-31
10   2023-11-30
11   2023-12-31
dtype: datetime64[ns]

In [ ]:
# 날짜 데이터를 분기로 변환
quarter_data = date_series.dt.to_period('Q')

# 각 분기별 데이터 개수 세기
quarter_counts =quarter_data.value_counts().sort_index()

print(quarter_counts)

2023Q1    3
2023Q2    3
2023Q3    3
2023Q4    3
Freq: Q-DEC, Name: count, dtype: int64

Task4. train.csv 파일로 생존자 예측 모델 생성을 위한 분석용 데이터 셋을 작성하세요.

In [391]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [409]:
filepath = '/content/train.csv'
df = pd.read_csv(filepath)

In [399]:
print(df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [304]:
#성별을 0과 1로 변경
df['Sex'] = df['Sex'].map({'female': 0, 'male': 1})

In [394]:
# Miss들의 나이 평균을 nan값에 입력
Miss_mean_Age = df[df['Name'].str.contains('Miss.')]['Age'].mean()
df.loc[df['Name'].str.contains('Miss.') & df['Age'].isnull(), 'Age']=Miss_mean_Age

In [395]:
# Mrs 나이 평균을 nan값에 입력
Miss_mean_Age = df[df['Name'].str.contains('Mrs.')]['Age'].mean()
df.loc[df['Name'].str.contains('Mrs.') & df['Age'].isnull(), 'Age']=Miss_mean_Age

In [396]:
# Mr 나이 평균을 nan값에 입력
Miss_mean_Age = df[df['Name'].str.contains('Mr.')]['Age'].mean()
df.loc[df['Name'].str.contains('Mr.') & df['Age'].isnull(), 'Age']=Miss_mean_Age

In [397]:
df.drop(columns=['Cabin'], inplace=True)

In [398]:
df=df.dropna()

In [400]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21.773973,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,Q

In [402]:
bins=[0,5,12,18,35,60,100]
labels = ['infant','Child','Teenager','Young Adult',' Adult','Senior']
df['age_group'] = pd.cut(df['Age'], bins=bins, labels = labels)
df.drop(columns=['Age'], inplace=True)

In [403]:
fare_bins = [-1,30,100,600]
fare_labels = ['Low','Medium','High']
df['fare_group'] = pd.cut(df['Fare'], bins=fare_bins, labels = fare_labels)
df.drop(columns=['Fare'], inplace=True)

In [378]:
df

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Embarked,fare_group,age_group
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,S,Low,Young Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,C,Medium,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,S,Low,Young Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,S,Medium,Young Adult
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,S,Low,Young Adult
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,S,Low,Young Adult
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,S,Low,Young Adult
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,S,Low,Young Adult
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,C,Low,Young Adult
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,Q,Low,Young Adult

In [410]:
df['Ticket'].unique()

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC 17601',
       'PC 17569', '335677', 'C.A. 24579', 'PC 17604', '113789', '2677',
       'A./5. 2152', '345764', '2651', '7546', '11668', '349253',
       'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371', '14311',
       '2662', '349237', '3101295', 'A/4. 39886', 'PC 17572', '2926',
       '113509', '19947', 'C.A. 31026', '2697', 'C.A. 34651', 'CA 2144',
       '2669', '113572', '36973', '347088', 'PC 17605', '2661',
       'C.A. 29395', 'S.P. 3464', '3101281', '315151', 'C.A. 33111',
       'S.O.C. 14879', '2680', '1601', '348123', '349208', '374746',
       '248738', '364516', '345767', '345779', '330932', '113059',
       'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086', '343275',
       '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500', '374910',
       'PC 17754', 'PC 17759', '231919', '244367', '349245', '349215',
       '35281', '7540', '3101276', '349207', '343120', '312991', '349249',
       '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', 'A4. 54510', '27267',
       '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'LINE',
       'SC/PARIS 2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC 17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A/5. 3336', '370129', '2650',
       'PC 17585', '110152', 'PC 17755', '230433', '384461', '110413',
       '112059', '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760',
       '113798', '250644', 'PC 17596', '370375', '13502', '347073',
       '239853', 'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SC/Paris 2163', '349236', '349233', 'PC 17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A/5 2466',
       '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608',
       '250651', '349243', 'F.C.C. 13529', '347470', '29011', '36928',
       '16966', 'A/5 21172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC 17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SC/PARIS 2167', '2691',
       'SOTON/O.Q. 3101310', 'C 7076', '110813', '2626', '14313',
       'PC 17477', '11765', '3101267', '323951', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '349227', '27849', '367655', 'SC 1748', '113760', '350034',
       '3101277', '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', '315096', '28664', '347064',
       '29106', '312992', '349222', '394140', 'STON/O 2. 3101269',
       '343095', '28220', '250652', '28228', '345773', '349254',
       'A/5. 13032', '315082', '347080', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '12749', '349252', '2624', '2700', '367232',
       'W./C. 14258', 'PC 17483', '3101296', '29104', '2641', '2690',
       '315084', '113050', 'PC 17761', '364498', '13568', 'WE/P 5735',
       '2908', '693', 'SC/PARIS 2146', '244358', '330979', '2620',
       '347085', '113807', '11755', '345572', '372622', '349251',
       '218629', 'SOTON/OQ 392082', 'SOTON/O.Q. 392087', 'A/4 48871',
       '349205', '2686', '350417', 'S.W./PP 752', '11769', 'PC 17474',
       '14312', 'A/4. 20589', '358585', '243880', '2689',
       'STON/O 2. 3101286', '237789', '13049', '3411', '237565', '13567',
       '14973', 'A./5. 3235', 'STON/O 2. 3101273', 'A/5 3902', '364848',
       'SC/AH 29037', '248727', '2664', '349214', '113796', '364511',
       '111426', '349910', '349246', '113804', 'SOTON/O.Q. 3101305',
       '370377', '364512', '220845', '31028', '2659', '11753', '350029',
       '54636', '36963', '219533', '349224', '334912', '27042', '347743',
       '13214', '112052', '237668', 'STON/O 2. 3101292', '350050',
       '349231', '13213', 'S.O./P.P. 751', 'CA. 2314', '349221', '8475',
       '330919', '365226', '349223', '29751', '2623', '5727', '349210',
       'STON/O 2. 3101285', '234686', '312993', 'A/5 3536', '19996',
       '29750', 'F.C. 12750', 'C.A. 24580', '244270', '239856', '349912',
       '342826', '4138', '330935', '6563', '349228', '350036', '24160',
       '17474', '349256', '2672', '113800', '248731', '363592', '35852',
       '348121', 'PC 17475', '36864', '350025', '223596', 'PC 17476',
       'PC 17482', '113028', '7545', '250647', '348124', '34218', '36568',
       '347062', '350048', '12233', '250643', '113806', '315094', '36866',
       '236853', 'STON/O2. 3101271', '239855', '28425', '233639',
       '349201', '349218', '16988', '376566', 'STON/O 2. 3101288',
       '250648', '113773', '335097', '29103', '392096', '345780',
       '349204', '350042', '29108', '363294', 'SOTON/O2 3101272', '2663',
       '347074', '112379', '364850', '8471', '345781', '350047',
       'S.O./P.P. 3', '2674', '29105', '347078', '383121', '36865',
       '2687', '113501', 'W./C. 6607', 'SOTON/O.Q. 3101312', '374887',
       '3101265', '12460', 'PC 17600', '349203', '28213', '17465',
       '349244', '2685', '2625', '347089', '347063', '112050', '347087',
       '248723', '3474', '28206', '364499', '112058', 'STON/O2. 3101290',
       'S.C./PARIS 2079', 'C 7075', '315098', '19972', '368323', '367228',
       '2671', '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376'], dtype=object)

In [404]:
#범주형 변수를 더미 변수로 변환할 열 목록
categorical_columns = ['age_group', 'fare_group','Sex','Embarked']

#반복문을 사용하여 범주형 변수를 더미 변수로 변환
for column in categorical_columns:
    #첫번째 카테고리는 drop_first=True로 제거
    df=pd.get_dummies(df, columns=[column])

In [385]:
df

,PassengerId,Survived,Pclass,SibSp,Parch,age_group_infant,age_group_Child,age_group_Teenager,age_group_Young Adult,age_group_ Adult,age_group_Senior,fare_group_Low,fare_group_Medium,fare_group_High,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,1,0,False,False,False,True,False,False,True,False,False,False,True,False,False,True
1,2,1,1,1,0,False,False,False,False,True,False,False,True,False,True,False,True,False,False
2,3,1,3,0,0,False,False,False,True,False,False,True,False,False,True,False,False,False,True
3,4,1,1,1,0,False,False,False,True,False,False,False,True,False,True,False,False,False,True
4,5,0,3,0,0,False,False,False,True,False,False,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,0,False,False,False,True,False,False,True,False,False,False,True,False,False,True
887,888,1,1,0,0,False,False,False,True,False,False,True,False,False,True,False,False,False,True
888,889,0,3,1,2,False,False,False,True,False,False,True,False,False,True,False,False,False,True
889,890,1,1,0,0,False,False,False,True,False,False,True,False,False,False,True,True,False,False
890,891,0,3,0,0,False,False,False,True,False,False,True,False,False,False,True,False,True,False

In [381]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 884 entries, 0 to 890
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PassengerId            884 non-null    int64
 1   Survived               884 non-null    int64
 2   Pclass                 884 non-null    int64
 3   Name                   884 non-null    object
 4   SibSp                  884 non-null    int64
 5   Parch                  884 non-null    int64
 6   Ticket                 884 non-null    object
 7   age_group_infant       884 non-null    bool
 8   age_group_Child        884 non-null    bool
 9   age_group_Teenager     884 non-null    bool
 10  age_group_Young Adult  884 non-null    bool
 11  age_group_ Adult       884 non-null    bool
 12  age_group_Senior       884 non-null    bool
 13  fare_group_Low         884 non-null    bool
 14  fare_group_Medium      884 non-null    bool
 15  fare_group_High        884 non-null    bool
 16  Sex_female             884 non-null    bool
 17  Sex_male               884 non-null    bool
 18  Embarked_C             884 non-null    bool
 19  Embarked_Q             884 non-null    bool
 20  Embarked_S             884 non-null    bool
dtypes: bool(14), int64(5), object(2)
memory usage: 67.3+ KB

In [387]:
df.drop(columns=['PassengerId'], inplace =True)

In [405]:
#필요없는 데이터 제거
df.drop(columns=['Name','Ticket'], inplace =True)

df

,PassengerId,Survived,Pclass,SibSp,Parch,age_group_infant,age_group_Child,age_group_Teenager,age_group_Young Adult,age_group_ Adult,age_group_Senior,fare_group_Low,fare_group_Medium,fare_group_High,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,1,0,False,False,False,True,False,False,True,False,False,False,True,False,False,True
1,2,1,1,1,0,False,False,False,False,True,False,False,True,False,True,False,True,False,False
2,3,1,3,0,0,False,False,False,True,False,False,True,False,False,True,False,False,False,True
3,4,1,1,1,0,False,False,False,True,False,False,False,True,False,True,False,False,False,True
4,5,0,3,0,0,False,False,False,True,False,False,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,0,False,False,False,True,False,False,True,False,False,False,True,False,False,True
887,888,1,1,0,0,False,False,False,True,False,False,True,False,False,True,False,False,False,True
888,889,0,3,1,2,False,False,False,True,False,False,True,False,False,True,False,False,False,True
889,890,1,1,0,0,False,False,False,True,False,False,True,False,False,False,True,True,False,False
890,891,0,3,0,0,False,False,False,True,False,False,True,False,False,False,True,False,True,False

In [235]:
df=df.dropna()

In [406]:
df

,PassengerId,Survived,Pclass,SibSp,Parch,age_group_infant,age_group_Child,age_group_Teenager,age_group_Young Adult,age_group_ Adult,age_group_Senior,fare_group_Low,fare_group_Medium,fare_group_High,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,1,0,False,False,False,True,False,False,True,False,False,False,True,False,False,True
1,2,1,1,1,0,False,False,False,False,True,False,False,True,False,True,False,True,False,False
2,3,1,3,0,0,False,False,False,True,False,False,True,False,False,True,False,False,False,True
3,4,1,1,1,0,False,False,False,True,False,False,False,True,False,True,False,False,False,True
4,5,0,3,0,0,False,False,False,True,False,False,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,0,False,False,False,True,False,False,True,False,False,False,True,False,False,True
887,888,1,1,0,0,False,False,False,True,False,False,True,False,False,True,False,False,False,True
888,889,0,3,1,2,False,False,False,True,False,False,True,False,False,True,False,False,False,True
889,890,1,1,0,0,False,False,False,True,False,False,True,False,False,False,True,True,False,False
890,891,0,3,0,0,False,False,False,True,False,False,True,False,False,False,True,False,True,False

In [388]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [389]:
# 타겟 변수와 피처 변수 설정
X = df.drop('Survived', axis=1)
y = df['Survived']

# 학습 데이터와 테스트 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 데이터 크기 확인
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

# 랜덤 포레스트 모델 학습
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# 예측
y_pred = model.predict(X_test)

# 성능 평가
print("Accuracy:", accuracy_score(y_test, y_pred))
#print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
#print("Classification Report:\n", classification_report(y_test, y_pred))

(707, 17) (177, 17) (707,) (177,)
Accuracy: 0.7853107344632768

In [407]:
# 타겟 변수와 피처 변수 설정
X = df.drop('Survived', axis=1)
y = df['Survived']

# 학습 데이터와 테스트 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 데이터 크기 확인
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

# 랜덤 포레스트 모델 학습
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# 예측
y_pred = model.predict(X_test)

# 성능 평가
print("Accuracy:", accuracy_score(y_test, y_pred))
#print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
#print("Classification Report:\n", classification_report(y_test, y_pred))

(707, 18) (177, 18) (707,) (177,)
Accuracy: 0.8248587570621468