Task1_0508. title() 함수를 사용하지 않고 동일한 결과를 출력하세요.

lee sang hyeop => Lee Sang Hyeop

In [21]:
name = 'lee sang hyeop'
sp_name = name.split()
print(sp_name)
for i in range(len(sp_name)):
    sp_name[i] = str(sp_name[i][0].upper()) + str(sp_name[i][1:])
uname = ''
for a in sp_name:
    uname=uname+a+' '
print(uname)

['lee', 'sang', 'hyeop']
Lee Sang Hyeop

In [17]:
name = 'lee sang hyeop'
sp_name = name.split()
print(sp_name[0][0].upper())

L

Task2_0507. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.

a::b::c

In [22]:
list1 = ['a','b','c']
bond = '::'
output= bond.join(list1)
print(output)

a::b::c

Task3_0508. 다음을 수행하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 숫자로만 이루어져 있는지 확인합니다.
- 만약 숫자로만 이루어져 있다면, 그 숫자를 정수로 변환하여 100을 더한 결과를 출력합니다.
- 숫자가 아닌 문자가 포함되어 있다면, 사용자에게 숫자만 입력하라는 메시지를 출력합니다.
- 연산이 수행이 완료될 때까지 반복하고 수행이 완료되면 break 합니다.

In [28]:
while 1:
    strings = input("문자열을 입력하세요 : ")
    str_sp = strings.replace(" ", "")
    if not str_sp.isdigit():
        print("숫자로만 입력해주세요")
        continue
    else:
        int_str = int(str_sp)
        print(int_str +100)
        break

문자열을 입력하세요 : qwe
숫자로만 입력해주세요
문자열을 입력하세요 : 56454 6548971  1561
5645465489711661

Task4_0508. 문자와 숫자로만 구성된 아이디만 유효한 규칙을 만들려고 한다. 아래 사항을 참조하여 프로그램을 작성하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 알파벳과 숫자로만 이루어져 있는지 확인합니다.
- 만약 조건을 만족한다면 "유효한 아이디입니다"라고 출력합니다.
- 그렇지 않다면, "아이디는 알파벳과 숫자만 포함할 수 있습니다"라고 메시지를 출력합니다.

In [31]:
while 1:
    strings = input("문자열을 입력하세요 : ")
    if not strings.isalnum():
        print("아이디는 알파벳과 숫자만 포함할 수 있습니다")
        continue
    else:
        print('유효한 아이디입니다')
        break

문자열을 입력하세요 : asfjalkj ``13`13
아이디는 알파벳과 숫자만 포함할 수 있습니다
문자열을 입력하세요 : sdf
유효한 아이디입니다

Task5_0508. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요.

In [8]:
list = []

for i in range(0,20,2):

    list.append(i*i)

print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [7]:
print([i*i  for i in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

Task6_0508. 유닉스 타임스탬프를 받아서 해당 시간을 datetime.datetime 객체로 변환하고, 그 결과를 출력하는 사용자 함수를 작성하여 임의의 타임스탬프를 입력하여 결과를 출력하세요.

In [35]:
import time
import datetime
def ts_to_dt():
    now = time.time()
    dt = datetime.datetime.fromtimestamp(now)
    print(dt)

if __name__ =='__main__':
    ts_to_dt()

2024-05-08 07:19:53.355590

Task7_0508. datetime 객체를 문자열로 변환하는 사용자 함수를 작성하여 datetime 객체를 "YYYY-MM-DD HH:MM:SS" 형식의 문자열로 변환하고 출력하세요.

In [40]:
from datetime import datetime

def day_display():
    now = datetime.now()
    formatted=now.strftime('%Y-%m-%d %H:%M:%S')
    print(formatted,type(formatted))

day_display()

2024-05-08 07:23:59 <class 'str'>

Task8_0508. 올해 경과된 날짜수 계산하세요.

In [46]:
import time

output = time.strftime('%j', time.localtime(time.time()))
print(f'올해는 {output}일만큼 지나갔습니다')

올해는 129일만큼 지나갔습니다

Task9_0508. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [84]:
now = datetime.now()
dow = {'Mon':'월요일', 'Tue':'화요일','Wed':'수요일','Thu':'목요일','Fri':'금요일', 'Sat':'토요일', 'Sun':'일요일'}
formatted=now.strftime('%Y %m %d %a')
sp_fm = formatted.split(" ")
print(f'{sp_fm[0]}-{sp_fm[1]}-{sp_fm[2]} 오늘은 {dow[sp_fm[3]]}입니다.')

2024-05-08 오늘은 수요일입니다.

In [87]:
now = datetime.now()
dow = {'Mon':'월요일', 'Tue':'화요일','Wed':'수요일','Thu':'목요일','Fri':'금요일', 'Sat':'토요일', 'Sun':'일요일'}
formatted=now.strftime('%Y-%m-%d 오늘은 %a입니다')
formatted

'2024-05-08 오늘은 Wed입니다'

Task10_0508. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1ms=0.001초)

In [79]:
import time
from datetime import datetime
i = 0
now = datetime.now()
sf = float(now.strftime('%s.%f'))
for i in range(1, 1000001):
    i += i
now = datetime.now()
ff = float(now.strftime('%s.%f'))
tt=round((ff-sf),3)

print(f'프로그램이 {tt}초만큼 돌아갔습니다')

프로그램이 0.218초만큼 돌아갔습니다