제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x = int(input('숫자 입력 :'))
if x > 5:
    print('x는 5보다 큽니다.')
elif x==5:
    print('x는 5입니다.')
else:
    print('x는 5보다 작습니다.')

숫자 입력 :22
x는 5보다 큽니다.

In [ ]:
x = int(input('숫자 입력 :'))
if x >= 5:
    print("x는 5보다 크거나 같습니다.")
else:
    print("x는 5보다 작습니다")

숫자 입력 :1
x는 5보다 작습니다

In [ ]:
x = int(input('숫자 입력 :'))
y = int(input('숫자 입력 :'))
if x>5:
    print('x는 5보다 큽니다.')
if y<10:
    print('y 는 10보다 작습니다.')
if x>y:
    print('x는 y보다 큽니다')

숫자 입력 :4
숫자 입력 :2
y 는 10보다 작습니다.
x는 y보다 큽니다

In [ ]:
x = int(input('숫자 입력 :'))
y = int(input('숫자 입력 :'))
if x>5:
    if y>=3:
        print('x는 5보다 크고  y는 3보다 크거나 같습니다.')
    else:
        print('x는 5보다 크고 y는 3보다 작습니다.')
else:
    print('x는 5보다 작거나 같습니다.')

숫자 입력 :50
숫자 입력 :3
x는 5보다 크고  y는 3보다 크거나 같습니다.

In [ ]:
x = int(input('숫자 입력 :'))
y = int(input('숫자 입력 :'))
if x > y:
    if x+y > 20:
        print('욕심이 과했습니다!')
    elif x+y == 20:
        print('최대 상금을 수령했습니다!')
    else:
        if x+y==7:
            print(f'행운의 숫자 당첨!{x**(-y)}만원!!')
        else:
            print(f'{x+y}만원 당첨!')
elif x == y:
    print('더블! 2만원 당첨!')
else:
    print('조건을 만족하지 못하여 0원!')

숫자 입력 :10
숫자 입력 :-3
행운의 숫자 당첨!1000만원!!

In [ ]:
listdata = ['a', 'b', 'c']

if 'a' in listdata:
    print('a가 listdata에 있습니다.')
if 'b' in listdata:
    print('b가 listdata에 있습니다.')
if 'c' in listdata:
    print('c가 listdata에 있습니다.')

a가 listdata에 있습니다.
b가 listdata에 있습니다.
c가 listdata에 있습니다.

In [ ]:
listdata = ['a', 'b', 'c']

for i in listdata:
    print(f'{i}가 listdata에 있습니다.')

a가 listdata에 있습니다.
b가 listdata에 있습니다.
c가 listdata에 있습니다.

In [ ]:
#Q."돈이 있으면 택시를 타고, 돈이 없으면 걸어 간다"를 만족하는 조건문을 작성하세요
money = int(input('지금 갖고있는 돈은?(숫자로 입력): '))
way = float(input('목적지 까지의 거리를 입력(1.5키로일 경우 1.5):'))

if money<5000:
    print('돈이 없으니 걸어가자')
if money<5000*way:
    print('돈이 부족하다! 걸어가도록 하자!')
else:
    print('택시타고 편하게 가자!')

지금 갖고있는 돈은?(숫자로 입력): 61651651
목적지 까지의 거리를 입력(1.5키로일 경우 1.5):34
택시타고 편하게 가자!

In [ ]:
score = 69
a= ["sucess" if score >= 70 else "failure"]
a

['failure']

In [ ]:
# Q. "수입과 지출금액을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가" 프로그램을 작성해보시오


total = 0
i = 0
while i < 12:
    income = int(input("이번달 소득을 입력하세요 :"))
    spend = int(input("이번달 지출금액을 입력하세요 :"))
    if income > spend:
        total += (income - spend)
        print(f'잔고에 {income - spend}원이 추가되었습니다. 현제 잔액은{total}원 입니다.')
    elif income == spend:
        print(f"현상 유지 현제 잔액은{total}원 입니다.")
    else:
        total -= (spend - income)
        print(f'통장에 {spend - income}원만큼  차감되었습니다 현제 잔액은{total}원 입니다.')
    i += 1

이번달 소득을 입력하세요 :49999
이번달 지출금액을 입력하세요 :500
잔고에 49499원이 추가되었습니다. 현제 잔액은49499원 입니다.
이번달 소득을 입력하세요 :50
이번달 지출금액을 입력하세요 :100000
통장에 99950원만큼  차감되었습니다 현제 잔액은-50451원 입니다.
이번달 소득을 입력하세요 :99999
이번달 지출금액을 입력하세요 :500
잔고에 99499원이 추가되었습니다. 현제 잔액은49048원 입니다.
이번달 소득을 입력하세요 :5000
이번달 지출금액을 입력하세요 :40000
통장에 35000원만큼  차감되었습니다 현제 잔액은14048원 입니다.
이번달 소득을 입력하세요 :5000
이번달 지출금액을 입력하세요 :20000
통장에 15000원만큼  차감되었습니다 현제 잔액은-952원 입니다.
이번달 소득을 입력하세요 :100000
이번달 지출금액을 입력하세요 :555
잔고에 99445원이 추가되었습니다. 현제 잔액은98493원 입니다.
이번달 소득을 입력하세요 :3132132
이번달 지출금액을 입력하세요 :15515
잔고에 3116617원이 추가되었습니다. 현제 잔액은3215110원 입니다.
이번달 소득을 입력하세요 :231213
이번달 지출금액을 입력하세요 :51515
잔고에 179698원이 추가되었습니다. 현제 잔액은3394808원 입니다.
이번달 소득을 입력하세요 :1351531
이번달 지출금액을 입력하세요 :51351321
통장에 49999790원만큼  차감되었습니다 현제 잔액은-46604982원 입니다.
이번달 소득을 입력하세요 :5151515161
이번달 지출금액을 입력하세요 :50500000
잔고에 5101015161원이 추가되었습니다. 현제 잔액은5054410179원 입니다.
이번달 소득을 입력하세요 :50000
이번달 지출금액을 입력하세요 :50000
현상 유지 현제 잔액은5054410179원 입니다.
이번달 소득을 입력하세요 :5000
이번달 지출금액을 입력하세요 :5000
현상 유지 현제 잔액은5054410179원 입니다.

## 반복문 (Loop Statements):
- for:시퀀스(리스트, 튜플,문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
for i in range(5):
    print(i, end='\t')
print('\n\n\n\n\n\n\n')
count = 0
while count < 5:
    count += 1
    print(count, end='       ')

0	1	2	3	4







1       2       3       4       5

In [ ]:
for i in [1,2,3,4,5]:
    print(i,end='    ')
print('\n\n')

for char in "hello":
    print(char, end=' ')

1    2    3    4    5


h e l l o

In [ ]:
count = 0
sum = 0
while count < 5:
    sum += count
    print(sum, end='       ')
    count += 1

0       1       3       6       10

In [ ]:
# Q. d에서 반복문을 사용하여 97 98 99 를 출력하세요.
d = {'a':97, 'b':98, 'c':99}

for i in d:
    print(d[i], end=' ')
    print(type(d[i]))

97 <class 'int'>
98 <class 'int'>
99 <class 'int'>

dict_values 클래스의 이해: <=어려움
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [ ]:
d['b'] = 100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99, 'd': 100}
dict_values([97, 100, 99, 100])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i,end='')
print('\n\n')

for i in range(5):
    if i ==3:
        continue
    print(i,end='')

012


0124

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i, end = ' ')
print('\n\n\n')
for i in range(10):
    if i % 2 ==0:
        continue
    print(i, end = ' ')

0 1 2 3 4



1 3 5 7 9

In [ ]:
# for 또는 while 루프에 else 절을 사용하면, 루프가 정상적으로 완료된 후에 실행할 코드를 지정
for i in range(5):
    print(i, end=' ')
else:
    print('\n루프 완\n\n\n')

count = 0
while count < 5:
    print(count, end = ' ')
    count += 1
else:
    print('\n루프 완')

0 1 2 3 4
루프 완



0 1 2 3 4
루프 완

In [ ]:
#break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음
for i in range(5):
    if i == 3:
        print(f'{i}에서 루프를 중단합니다.')
        break
else:
    print('루프가 정상적으로 완료되었습니다')

3에서 루프를 중단합니다.

##조건과 반복을 결합

In [ ]:
#홀수만 출력
for i in range(10):
    if i% 2 !=0:
        print(i, end =' ')

1 3 5 7 9

In [ ]:
# Q. 1~10 범위의 정수에서 1부터 5까지만 출력하세요

for i in range(1,11):
    if i >5:
        break

    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
# Q. numbers 리스트에서 15,20,25를 출력하세요. (for문과 if 조건 사용 필수)
numbers = [5,15,6,20,7,25]
output = []

for number in numbers:
    if number % 5 ==0 and number>5:
        output.append(number)

print(output)

[15, 20, 25]

In [ ]:
# 특정 조건을 만족할 때까지 반복
count = 0
while 1:
    count += 50
    if count>500:
        break
    print(count)
print('루프 끝!')

50
100
150
200
250
300
350
400
450
500
루프 끝!

In [ ]:
#Q. 리스트에서 특정값 찾으면 "값을 찾았습니다"를 출력하고 못찾으면 "값을 찾지 못했습니다."를 출력하세요
numbers = [1,2,3,4,5]
target = 3

if target in numbers:
    print(f'{target}을 찾았습니다!')
else:
    print(f'{target}을 찾지 못했습니다!')

7을 찾았습니다!

In [ ]:
numbers = [1,2,3,4,5]
target = 3

for i in numbers:
    if i == target:
        print(f'{target}을 찾았습니다!')
        break
else:
    print(f'{target}을 찾지 못했습니다!')

3을 찾았습니다!

In [ ]:
# Q. 1~20 사이의 정수에서 10보다 작은 홀수만 출력

for i in range(1,21):
    if i <10 and i%2 == 1:
        print(i)

1
3
5
7
9

In [ ]:
# while ~ continue ~ break
# 20 보다 작은 정수에서 1 3 5 7 9 만을 출력
a = 0
while a < 20:
    a += 1
    if a % 2 ==0:
        continue
    if a >= 10:
        break
    print(a, end=' ')

1 3 5 7 9

In [ ]:
# Q. 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요. (while~ break)
n = 0
total = 0

while 1:
    n += 1
    total = total + n

    if total > 1000:
        print(f'{n}일때 합이 1000이상입니다')
        print(total)
        break

45일때 합이 1000이상입니다
1035

In [ ]:
#예시
x = 0
sum = 0
while sum < 1000:
    x+=1
    sum += x
print(x)
print(sum)

45
1035

In [ ]:
# Q. while 문을 사용해 1 부터 1000까지의 정수 중 3의 배수의 합을 구해보세요.
i = 0
sum = 0
while 1:
    i+= 1
    if i % 3 ==0:
        sum += i
    if i>1000:
        break

print(sum)

166833

In [ ]:
#예시
i = 0
sum = 0
while i<1000:
    i+= 1
    if i % 3 ==0:
        sum += i

print(sum)

166833

In [ ]:
#예시
n = 3
sum = 0
while n <= 1000:
    sum += n
    n+= 3
print(sum)

166833

In [ ]:
# Q. 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성

i = int(input("숫자 입력 :"))

if i % 2 == 0:
    print('짝수')
else:
    print('홀수')

숫자 입력 :55551
홀수

In [ ]:
# 예외처리
while True:
    try:
        i = int(input("숫자 입력 :"))

        if i % 2 == 0:
            print('짝수')
            break
        else:
            print('홀수')
            break
    except ValueError:
        print('정수를 입력하세요')

숫자 입력 :sa
정수를 입력하세요
숫자 입력 :1
홀수

In [ ]:
# 예외처리
while True:
    try:
        i = int(input("숫자 입력 :"))
        break

    except ValueError:
        print('정수를 입력하세요')

if i % 2 == 0:
    print('짝수')
else:
    print('홀수')

숫자 입력 :asd
정수를 입력하세요
숫자 입력 :1
홀수

In [ ]:
# Q. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. (ABC -> BCA)
main = []
main = input('입력 :')

main = main.split()

print(main)

입력 :sdfsdf
['sdfsdf']

In [ ]:
data = input("입력 :")
#string은 인덱싱이 가능함
for i in range(len(data)):
    if i ==0:
        continue
    print(data[i],end='')
else:
    print(data[0])

입력 :asdasdasd
sdasdasda

###zip() 함수 <= 매우 중요
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']

zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# Q. 두 개의 리스트(이름과 성)를 사용하여 각 사람의 전체 이름을 생성하세요.
first_names =["John", "Jane","Corey","Travis"]
last_names = ["Doe", "Smith", "Turner", "Williams"]

comb = zip(first_names, last_names)
comb_list = list(comb)

for i in comb_list:
    print(i[0],i[1])

John Doe
Jane Smith
Corey Turner
Travis Williams

In [ ]:
# 예시
first_names =["John", "Jane","Corey","Travis"]
last_names = ["Doe", "Smith", "Turner", "Williams"]

full_name = [first + " " + last for first, last in zip(first_names, last_names)]
print(full_name)

['John Doe', 'Jane Smith', 'Corey Turner', 'Travis Williams']

In [ ]:
# Q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하세요.
math_scores = [88,92,79,93,85]
english_scores = [90,91,85,88,86]

average_score = [(math + englisg) / 2 for math, englisg in zip(math_scores, english_scores)]
print(average_score)

[89.0, 91.5, 82.0, 90.5, 85.5]

In [ ]:
# Q. 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을 때, 상품명과 가격을 튜플로 묶어 출력하세요
products = ["apple", "banana", "cherry"]
prices = [1.2 , 0.5, 2.5]

for product, price in zip(products, prices):
    print(f'상품명: {product} \n가격: {price}$')

상품명: apple
가격: 1.2$
상품명: banana
가격: 0.5$
상품명: cherry
가격: 2.5$

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [ ]:
import random as rd

print(rd.random())

print(rd.randint(1,10))

items = [1,2,3,4,5]
print(rd.choice(items))

rd.shuffle(items)
print(items)

mean = 0
std_dev = 1

print(rd.gauss(mean, std_dev))

0.15438368392969626
10
3
[5, 2, 4, 1, 3]
0.5687674807169455

In [ ]:
from random import shuffle as sh
# from ~~~ import ~~로 random.shuffle()같은걸 그냥 shuffle()로 줄여쓰기 가능
male = ['철수','갑돌','로미오','이몽룡','온돌']
for i in range(11):
    sh(male)
    print(male)

['로미오', '이몽룡', '온돌', '철수', '갑돌']
['이몽룡', '갑돌', '철수', '로미오', '온돌']
['이몽룡', '철수', '온돌', '갑돌', '로미오']
['이몽룡', '온돌', '로미오', '갑돌', '철수']
['갑돌', '철수', '온돌', '이몽룡', '로미오']
['철수', '갑돌', '로미오', '이몽룡', '온돌']
['갑돌', '이몽룡', '철수', '온돌', '로미오']
['온돌', '철수', '갑돌', '로미오', '이몽룡']
['갑돌', '온돌', '철수', '이몽룡', '로미오']
['온돌', '갑돌', '철수', '로미오', '이몽룡']
['철수', '온돌', '이몽룡', '갑돌', '로미오']

f-string내에서 {}안에는 변수 뿐만 아니라 Python 표현식도 올 수 있음.

표현식(Expression)
- 하나 이상의 값, 변수, 연산자, 함수 호출 등을 조합하여 평가(evaluate)될 때 값을 생성하거나 반환하는 코드
- 표현식은 계산되어 값이 되는 모든 것을 의미

표현식의 예시:
- 수치 계산: 2 + 3는 5라는 값을 반환
- 문자열 조합: "Hello " + "World"는 "Hello World"라는 문자열을 생성
- 논리 연산: x > 5는 x의 값에 따라 True 또는 False를 반환
- 함수 호출: sum([1, 2, 3])은 리스트의 합인 6을 반환
- 조건식: x if x > 0 else -x는 x가 양수면 x를, 음수면 -x를 반환

In [ ]:
# Q. 로또 번호 6개를 6세트 출력하는 코드를 작성하세요.(중복 안됨)
import random

main = [ a for a in range(1,46)]
for i in range(6):
    sample = random.sample(main,6)
    sample.sort()
    print(sample)

[6, 16, 23, 24, 31, 44]
[11, 14, 18, 28, 30, 40]
[1, 8, 14, 31, 44, 45]
[3, 8, 20, 25, 35, 37]
[8, 14, 16, 21, 22, 41]
[7, 9, 10, 29, 38, 43]

In [ ]:
# Q. n개의 그룹으로 분류하는 코드를 작성하세요.
kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']
random.shuffle(kita)

n = int(input('몇개의 조로 나눌까요? :'))
print(kita)
groups = [kita[i::n] for i in range(n)]
print(groups)
for idx, group in enumerate(groups):
    print(f"그룹 {idx +1 }: {group}")

몇개의 조로 나눌까요? :5
['최환욱', '황강민', '윤호준', '박지환', '소지승', '김홍준', '서보선', '류윤선', '김도원', '이도헌', '김도현', '신현진', '박윤경', '김성현', '이상협', '이범석', '이명신', '김하준', '이현석', '김한결']
[['최환욱', '김홍준', '김도현', '이범석'], ['황강민', '서보선', '신현진', '이명신'], ['윤호준', '류윤선', '박윤경', '김하준'], ['박지환', '김도원', '김성현', '이현석'], ['소지승', '이도헌', '이상협', '김한결']]
그룹 1: ['최환욱', '김홍준', '김도현', '이범석']
그룹 2: ['황강민', '서보선', '신현진', '이명신']
그룹 3: ['윤호준', '류윤선', '박윤경', '김하준']
그룹 4: ['박지환', '김도원', '김성현', '이현석']
그룹 5: ['소지승', '이도헌', '이상협', '김한결']

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# Q. 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요.
sum = 0
for i in range(5,96):
    sum += i

print(sum)

4550

In [ ]:
sum=0
i = 1
while i <= 100:
    if i>=5 and i <=95:
        sum +=i
    i += 1

print(sum)

4550

In [ ]:
# Q. while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해보세요.
n = 1
sum = 0
while n <1000:
    if n%3==0:
        if n%5==0:
            sum += n
    n +=1

print(sum)

33165

In [ ]:
# Q. 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.

import time as tm

now_time = tm.localtime()
if now_time[3]>2 and now_time[3]<14:
    print('오후입니다')
else:
    print('오전띠')

오후입니다

In [ ]:
import datetime
import pytz
tz = pytz.timezone('Asia/Seoul')
now = datetime.datetime.now(tz)
now_time = now.hour
now_time
if now_time >=12:
    print('오후')
else:
    print('오전')

오후

In [ ]:
#다양한 오류 입력에 대한 해결방안 추가 필요
time = input('현재 시간을 입력하세요(ex : 08시 30분 ,16시): ')

if '시' not in time:
    print("형식에 맞게 입력하세요")
elif int(time.split('시')[0]) >= 0 and int(time.split('시')[0])<12:
    print('오전입니다')
elif int(time.split('시')[0]) >= 12 and int(time.split('시')[0])<24:
    print('오후입니다')
else:
    print('시간을 다시 입력해 주세요.')

현재 시간을 입력하세요(ex : 08시 30분 ,16시): 13시
오후입니다

pop 함수
 - 리스트와 같은 자료 구조에서 주로 사용되는 함수
 - 이 함수는 특정 인덱스에 위치한 요소를 리스트에서 제거하고 해당 요소를 반환

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'data']

removed_fruit = fruits.pop(2)
print(removed_fruit)
print(fruits)

last_fruit = fruits.pop()
print(last_fruit)
print(fruits)

cherry
['apple', 'banana', 'data']
data
['apple', 'banana']

In [ ]:
# Q. 가위 바위 보 게임을 프로그래밍 하세요
import random
sorce = ['가위', '바위', '보'] # 0 1 2 0
score = 0
cpu = 0
player = 0
while True:
    computers_choice = random.choice(sorce)

    if score ==3:
        break

    players_choice = input('가위 바위 보 중 하나를 입력하세요 : ')

    if computers_choice == players_choice:
        print(f'컴퓨터의 선택 : {computers_choice}   당신의 선택 : {players_choice} [비겼습니다!]')

    elif (computers_choice== '가위' and players_choice == '바위') or (computers_choice== '바위' and players_choice == '보') or (computers_choice== '보' and players_choice == '가위'):
        print(f'컴퓨터의 선택 : {computers_choice}   당신의 선택 : {players_choice} [승리했습니다!]')
        score += 1
    else:
        print(f'컴퓨터의 선택 : {computers_choice}   당신의 선택 : {players_choice} [패배했습니다!]')

가위 바위 보 중 하나를 입력하세요 : 가위
컴퓨터의 선택 : 바위   당신의 선택 : 가위 [패배했습니다!]
가위 바위 보 중 하나를 입력하세요 : 가위
컴퓨터의 선택 : 가위   당신의 선택 : 가위 [비겼습니다!]
가위 바위 보 중 하나를 입력하세요 : 가위
컴퓨터의 선택 : 바위   당신의 선택 : 가위 [패배했습니다!]
가위 바위 보 중 하나를 입력하세요 : 바위
컴퓨터의 선택 : 보   당신의 선택 : 바위 [패배했습니다!]
가위 바위 보 중 하나를 입력하세요 : 보
컴퓨터의 선택 : 보   당신의 선택 : 보 [비겼습니다!]
가위 바위 보 중 하나를 입력하세요 : 보
컴퓨터의 선택 : 가위   당신의 선택 : 보 [패배했습니다!]
가위 바위 보 중 하나를 입력하세요 : 가위
컴퓨터의 선택 : 보   당신의 선택 : 가위 [승리했습니다!]
가위 바위 보 중 하나를 입력하세요 : 바위
컴퓨터의 선택 : 바위   당신의 선택 : 바위 [비겼습니다!]
가위 바위 보 중 하나를 입력하세요 : 바위
컴퓨터의 선택 : 바위   당신의 선택 : 바위 [비겼습니다!]
가위 바위 보 중 하나를 입력하세요 : 가위
컴퓨터의 선택 : 보   당신의 선택 : 가위 [승리했습니다!]
가위 바위 보 중 하나를 입력하세요 : 가위
컴퓨터의 선택 : 보   당신의 선택 : 가위 [승리했습니다!]

인덱싱을 활용할것

In [ ]:

import random

cpu = ['가위', '바위', '보']

win = [('가위','바위'),('바위','보'),('보','가위')]

while 1:
    cpu_select = random.choice(cpu)
    human = input("무엇을 내시겠습니까? :")
    if cpu_select == human:
        print("비겼습니다.")
    elif (cpu_select, human) in win:
        print("이겼습니다.")
    else:
        print("졌습니다.")

In [19]:
def main_menu(food_dic):
    print('KITA식당에 오신것을 환영합니다\n')
    print('========================================\n')
    for i in range(1,len(food_dic)+1):
        print(f'{i}. {food_dic[i][0]} : {food_dic[i][1]}원')

    print('세트 주문시 : 3000원 추가\n(세트는 밥과 반찬이 추가됩니다.)')
    print('\n========================================\n')

food_dic = {1:['불고기 비빔밥', 12000] , 2:['야채 비빔밥',8000],3:['전주 비빔밥', 10000]}

main_menu(food_dic)
total = 0
choose_num = int(input('비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>>'))
total += food_dic[choose_num][1]
choose_set = input('세트 주문을 하시겠습니까? 3,000원 추가. y, n >>>')
if choose_set == 'y':
    total += 3000
print(f'총 금액은 {total}원 입니다')

KITA식당에 오신것을 환영합니다

========================================

1. 불고기 비빔밥 : 12000원
2. 야채 비빔밥 : 8000원
3. 전주 비빔밥 : 10000원
세트 주문시 : 3000원 추가
(세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>>1
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>>y
총 금액은 15000원 입니다

In [14]:
def main():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")

if __name__ == "__main__":
    main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 3
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 13000원 입니다.

Q. 계속 주문가능 추가

In [16]:

def main():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)
    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))
    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}
    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)
    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000
    print(f"총 금액은 {total_price}원 입니다.")


while 1:
    if __name__ == "__main__":
        main()
    escape = input('계속하시겠습니까? y, n >>> ')
    if escape == 'n':
        break

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 3
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 13000원 입니다.
계속하시겠습니까? y, n >>> y
KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 3
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> 1
총 금액은 10000원 입니다.
계속하시겠습니까? y, n >>> n

In [ ]:
def display_menu():
    print("\nKITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)


def order():
    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")


def main():
    while True:
        display_menu()
        order()

        # 계속 주문하거나 종료 여부를 확인한다.
        continue_ordering = input("\n다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>> ")
        if continue_ordering == '종료':
            break

    print("\n감사합니다! 다음에 또 방문해 주세요.")


if __name__ == "__main__":
    main()

In [46]:
# mymodule.py 파일의 내용을 문자열로 정의합니다.
module_content = """
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

print_hello()
print_goodbye()
"""

# 파일을 쓰기 모드로 열고, 내용을 작성한 뒤 파일을 닫습니다.
with open("mymodule.py", "w") as file:
    file.write(module_content)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

drive  mymodule.py  __pycache__  sample_data

In [48]:
import mymodule

if __name__ == "__main__":

- 현재 모듈이 직접 실행되는지 또는 다른 파일에 의해 임포트되어 사용되는지를 판단할 때 사용.
- 만약 모듈이 직접 실행되면 __name__ 변수의 값은 "__main__"이 되고, 모듈이 다른 파일에서 임포트되어 사용될 경우 __name__은 모듈의 이름이 된다.

In [44]:
# mymodule.py 파일의 내용을 문자열로 정의합니다.
# if __name__ == "__main__":는 직접 실행할 경우만 True, 모듈 임포트 경우는 False
module_content = """
def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

if __name__ == "__main__":
    print('아아아')
    print_hello()
    print_goodbye()
"""

# 파일을 쓰기 모드로 열고, 내용을 작성한 뒤 파일을 닫습니다.
with open("mymodule.py", "w") as file:
    file.write(module_content)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

drive  mymodule.py  __pycache__  sample_data

In [45]:
import mymodule

In [47]:
!cat mymodule.py

def print_hello():
    print("Hello from mymodule!")

def print_goodbye():
    print("Goodbye from mymodule!")

print_hello()
print_goodbye()

In [4]:
ordering_system = '''
def display_menu():
    print("\nKITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)


def order():
    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))
    menu_count = int(input('몇개 주문하시겠습니까? >>>'))
    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0) * menu_count

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        set_count = int(input('몇개의 품목에 세트를 추가하시겠습니까? >>> '))
        for i in range(set_count):
            total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")


def main():
    while True:
        display_menu()
        order()

        # 계속 주문하거나 종료 여부를 확인한다.
        continue_ordering = input("\n다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>> ")
        if continue_ordering == '종료':
            break

    print("\n감사합니다! 다음에 또 방문해 주세요.")


if __name__ == "__main__":
    main()
'''

with open("ordering.py", "w") as file:
    file.write(ordering_system)

# 파일이 저장된 위치 확인 (일반적으로 Colab의 현재 작업 디렉토리)
!ls

drive  ordering.py  sample_data

In [7]:
import ordering

ordering.main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 3
몇개 주문하시겠습니까? >>>50
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
몇개의 품목에 세트를 추가하시겠습니까? >>> 50
총 금액은 650000원 입니다.

다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>> 종료

감사합니다! 다음에 또 방문해 주세요.

In [ ]:
def display_menu():
    print("\nKITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)


def order():
    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))
    menu_count = int(input('몇개 주문하시겠습니까? >>>'))
    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0) * menu_count

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        set_count = int(input('몇개의 품목에 세트를 추가하시겠습니까? >>> '))
        for i in range(set_count):
            total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")


def main():
    while True:
        display_menu()
        order()

        # 계속 주문하거나 종료 여부를 확인한다.
        continue_ordering = input("\n다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>> ")
        if continue_ordering == '종료':
            break

    print("\n감사합니다! 다음에 또 방문해 주세요.")


if __name__ == "__main__":
    main()