파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.

1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip() 등이 내장 함수입니다.
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다.
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값을 지정

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용

In [ ]:
#내장 함수 예제
print('Hello, World!')
print(len([1,2,3,4,5]))
print(type(10))

Hello, World!
5
<class 'int'>

In [ ]:
# Q. 내장함수로 다음을 수행하세요.
a = [1,2,3,4,5]
print(sum(a))
print(max(a))
print(min(a))
print(sorted(a))
print(list(reversed(a)))

15
5
1
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
print(type('a'))
print(abs(-4))#절대값
print(round(3.141592458, 3))#반올림
print(pow(2,3))#2의 3승

<class 'str'>
4
3.142
8

In [ ]:
# 외장 함수 예제
import math
print(math.sqrt(16))

import random
print(random.randint(1,10))

import datetime
print(datetime.datetime.now())

4.0
10
2024-05-03 06:25:12.663198

In [ ]:
# Q. datetime.datetime.now()에서 연도, 월, 일, 시, 분, 초, 마이크로초를 각각 출력하세요
from datetime import datetime as dt

now = dt.now()
print(dt.now().year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)
print(now.microsecond)

2024
5
3
6
33
34
223093

In [ ]:
import os
print(os.getcwd())
print(os)

/content
<module 'os' from '/usr/lib/python3.10/os.py'>

In [ ]:
os.mkdir('new_folder')

In [ ]:
os.rmdir('new_folder')

In [ ]:
!ls -o

total 4
drwxr-xr-x 1 root 4096 May  1 13:20 sample_data

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
#외부 라이브러리 예제

import pandas as pd

#pandas의 DataFrame 객체 생성
data = {'Name':['Alice', 'Bob', 'Charlie'], 'Age':[25,30,35]}
df = pd.DataFrame(data)

# pandas의 head() 함수를 사용하여 DataFrame의 처음 5행 출력 (여기서는 3행만 존재)
print(df.head())

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [ ]:
import numpy as np
data = [1,2,3,4]
arr = np.array(data)
print(arr,type(arr))
data_ar = list(arr)
print(data_ar)

[1 2 3 4] <class 'numpy.ndarray'>
[1, 2, 3, 4]

In [ ]:
# 사용자 함수 예제

def greet(name):
    return f"Hello, {name}!"

print(greet('홍길동'))

Hello, 홍길동!

##람다함수

In [ ]:
# 람다 함수는 간단한 한 줄의 함수를 작성할 때 유용
multiply = lambda x,y : x*y
print(multiply(5,5))

25

In [ ]:
# 조건 사용
is_even = lambda x:True if x%2 ==0 else False
print(is_even(4))
print(is_even(3))

True
False