실습 과제 : Electro 사이트를 크롤링해서 category, name,   link, price 4개 컬럼으로 구성되는 데이터프레임을 출력하세요.

In [5]:
import re
import pandas as pd
import requests
from bs4 import BeautifulSoup 

url = 'https://startcoding.pythonanywhere.com/basic'

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

response = requests.get(url, headers=headers)

soup = BeautifulSoup(response.text, 'html.parser')
response

In [19]:



target = soup.select('p.product-price')
category = [pc.text for pc in target]

target = soup.select('h3.product-name')
category = [lk.next_element.attrs['href'] for lk in target]

['#product1_detail.html',
 '#product2_detail.html',
 '#product3_detail.html',
 '#product4_detail.html',
 '#product5_detail.html',
 '#product6_detail.html',
 '#product7_detail.html',
 '#product8_detail.html',
 '#product9_detail.html',
 '#product10_detail.html']

In [64]:
import pandas as pd
import time
import requests 
from bs4 import BeautifulSoup

c_list = []
n_list = []
p_list = []
l_list = []
for i in range(1, 5):
    url = f'https://startcoding.pythonanywhere.com/basic?page={i}&keyword='
    headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36"}
    response = requests.get(url, headers= headers)
    soup = BeautifulSoup(response.text,'html.parser')

    target = soup.select('p.product-category')
    for  i in target:
        c_list.append(i.text)

    target = soup.select('h3.product-name')
    for  i in target:
        n_list.append(i.text)
        
    target = soup.select('.product-price')
    for  i in target:
        q = i.text
        a, b = q.split('원')
        c = a.replace(',','')
        p_list.append(int(c))


    target = soup.select('h3.product-name')
    for  i in target:
        l_list.append(i.next_element.attrs['href'])



df=pd.DataFrame({'category':c_list,
                 'name':n_list,
                 'link':l_list,
                 'price':p_list,
                 
                 })
df.index = df.index+1

In [ ]:
# target = soup.select('h3.product-name')
# for  i in target:
#     l_list.append(i.next_element.attrs['href'])
soup.select_one(".product=name > a").attrs['href'] # 위랑 같음

In [61]:
    # target = soup.select('.product-price')
    # for  i in target:
    #     q = i.text
    #     a, b = q.split('원')
    #     c = a.replace(',','')
    #     p_list.append(c)
soup.select_one('.product-price').text.strip().replace('원','').replace(",",'')

'89000\n\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t91610'

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 1 to 35
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  35 non-null     object
 1   name      35 non-null     object
 2   link      35 non-null     object
 3   price     35 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.2+ KB

In [55]:
df.category.value_counts()

category
노트북     10
데스크탑    10
휴대폰     10
모니터      5
Name: count, dtype: int64

In [44]:
p_list=[]
target = soup.select('.product-price')
for  i in target:
    q = i.text
    a, b = q.split('원')
    c = a.replace(',','')
    p_list.append(c)

p_list

['408400',
 '408400',
 '409510',
 '319000',
 '952450',
 '1004850',
 '199000',
 '1216050',
 '147000',
 '719900']

In [62]:
# utf-8-sig는 UTF-8 인코딩에 BOM(Byte Order Bark)를 추가하는 옵션
df.to_csv('result.csv',encoding='utf-8-sig',index=False)

In [63]:
df = pd.read_csv('result.csv')
df.head()

,category,name,link,price
0,노트북,"에이서 스위프트 GO 16 OLED, 스틸 그레이, 코어i7, 512GB, 16GB...",#product1_detail.html,1419000
1,노트북,"삼성전자 노트북 플러스2 15.6, 퓨어 화이트, NT550XDA-K24AT, 펜티...",#product2_detail.html,549000
2,노트북,"레노버 아이디어패드 슬림 1 15AMN7 15.6, 256GB, Free DOS, ...",#product3_detail.html,529000
3,노트북,"레노버 V15 G4 AMN 15.6, Arctic Grey, 라이젠3, 256GB,...",#product4_detail.html,624000
4,노트북,"LG 울트라PC 엣지 16, 차콜 그레이, 라이젠5, 256GB, 16GB, WIN...",#product5_detail.html,1135000