Task1_0502. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.

In [5]:
while True:
    num1 = int(input('첫번째 숫자 입력 : '))
    num2 = int(input('두번째 숫자 입력 : '))

    if num1 % 2 == 0 and num2 % 2 ==0:
        print(f'{num1}과 {num2}의 곱은 {num1 * num2}입니다')
        break
    elif num1 % 2 == 1 and num2 % 2 ==1:
        print(f'{num1}과 {num2}의 합은 {num1 + num2}입니다')
        break
    else:
        print('다시 입력하세요\n')

첫번째 숫자 입력 : 1
두번째 숫자 입력 : 1
1과 1의 합은 2입니다

Task2_0502. 현재 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [17]:
import datetime

now_time=str(datetime.datetime.now())
main = int(now_time[5:7])
if main >= 3 and main <=5:
    print('꽃가루~')
elif main >= 6 and main <=8:
    print('더워~')
elif main >= 9 and main <=11:
    print('살쪄~')
elif main >= 12 and main <=2:
    print('추워~')

꽃가루~

Task3_0502. 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.

`1*99, 2*98 ...99*1`

In [19]:
keep = 0
c=0
y = 0
z = 0
for a in range(1,100):
    c=a*(100 - a)
    if c>keep:
        keep = c
        y = a
print(f'{y} 와 {100-y}의 값이 {keep}으로 가장 큽니다')

50 와 50의 값이 2500으로 가장 큽니다

Task4_0502. [    ]을 채워서 아래의 출력과 같이 출력하세요.

numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]


`[[1,4,7],[2,5,8],[3,6,9]]`

In [20]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]
output = [numbers[i::3] for i in range(3) ]
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Task5_0502. 주어진 리스트에서 중복된 요소를 제거하고, 남은 요소만을 포함하는 새 리스트를 반환합니다. 순서는 유지해야 합니다.

In [22]:
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]
list_set = set(input_list)
new_list = list(list_set)
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

Task6_0502.주어진 문자열을 모스 코드로 변환하는 함수를 작성하세요. 공백은 무시하고 알파벳만 변환하세요.

input_text = "Hello World"

In [34]:
morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }

input_text = input('모스코드로 바꿀 문자열 입력 : ')
#input_text = "Hello World"

upper_text = input_text.upper()
upper_text = upper_text.replace(' ', '')
text_list = [upper_text[i] for i in range(len(upper_text))]
output = ''
for i in text_list:
    output=output + morse_code[i]

print(text_list)
print(output)

모스코드로 바꿀 문자열 입력 : Hello World
['H', 'E', 'L', 'L', 'O', 'W', 'O', 'R', 'L', 'D']
......-...-..---.-----.-..-..-..

Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.

In [107]:
input_matrix = [
    [1,  2,   3],
    [4,  5,   6],
    [7,  8,   9],
    [10, 11, 12]
]
#a=0
#input_matrix[0][0] a a

#a=1             a, a-1            a1, a
#input_matrix[1][0] +input_matrix[0][1]
#a=2             a  a-2              a-1 a-1            a-2 a
#input_matrix[2][0] +input_matrix[1][1]+input_matrix[0][2]
#a=3
#input_matrix[3][0] +input_matrix[2][1]+input_matrix[1][2] +input_matrix[0][3]
#....
#input_matrix[3][1] + input_matrix[2][2]
#input_matrix[3][2]
output_list = []
count = 0
for a in range(len(input_matrix)):
    sum = 0
    if a < len(input_matrix[0]):
        for i in range(a+1):
            sum = sum + input_matrix[abs(a-i)][abs(i)]
        output_list.append(sum)
    elif a == len(input_matrix[0]):
        for i in range(a):
            sum = sum + input_matrix[abs(a-i)][abs(i)]
        output_list.append(sum)
        for d in range(len(input_matrix[0])):






print(output_list)

[1, 6, 15, 24]

In [53]:
for i in range(0):
    print(i)

In [42]:
for a in range(4):
    for i in range(a):
        print(a)

1
2
2
3
3
3