Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [3]:
from random import shuffle as sf

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

sf(male)
sf(female)

couple = zip(male, female)

for ma, fe in couple:
    print(f'남자: {ma} , 여자: {fe} 짝궁입니다')

남자: 갑돌 , 여자: 성춘향 짝궁입니다
남자: 로미오 , 여자: 미미 짝궁입니다
남자: 온돌 , 여자: 갑순 짝궁입니다
남자: 철수 , 여자: 줄리엣 짝궁입니다
남자: 이몽룡 , 여자: 평강 짝궁입니다

In [6]:
#예시 (enumerate사용하여 index값을 같이 뽑음)
male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

sf(male)
sf(female)

couples = zip(male, female)
couples = list(couples)
for i, couple in enumerate(couples):
    print(f'커플{i +1}: {couple[0]}, {couple[1]} ')

커플1: 로미오, 평강
커플2: 철수, 미미
커플3: 갑돌, 갑순
커플4: 온돌, 성춘향
커플5: 이몽룡, 줄리엣

In [7]:
male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

sf(male)
sf(female)

couples = zip(male, female)
print(couples)
print(list(couples))

<zip object at 0x7da92b595e00>
[('이몽룡', '미미'), ('온돌', '갑순'), ('갑돌', '성춘향'), ('철수', '줄리엣'), ('로미오', '평강')]

zip 함수는 이터레이터를 반환하고 이 이터레이터를 단 한 번만 소비할 수 있음. list() 함수를 사용하여 이터레이터의 모든 원소를 한 번에 소비해 버리면, 그 결과는 빈 이터레이터가 되기 때문에 리스로 다시 저장후 사용해야함

In [79]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

sf(male)
print(male)
sf(female)
print(female)

couples = list(zip(male, female))
print(couples)
list(couples)
for i, couple in enumerate(couples):
    print(f'커플{i +1}: {couple[0]}, {couple[1]} ')

['이몽룡', '온돌', '갑돌', '로미오', '철수']
['미미', '평강', '성춘향', '줄리엣', '갑순']
[('이몽룡', '미미'), ('온돌', '평강'), ('갑돌', '성춘향'), ('로미오', '줄리엣'), ('철수', '갑순')]
커플1: 이몽룡, 미미
커플2: 온돌, 평강
커플3: 갑돌, 성춘향
커플4: 로미오, 줄리엣
커플5: 철수, 갑순

Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

In [68]:
import random as rd

print('<랜덤 비밀번호 생성기>')
aList =[chr(i) for i in range(97,123)]
AList =[chr(i) for i in range(65,91)]
num = ['1','2','3','4','5','6','7','8','9']
save_point = aList+AList+num
sit = rd.sample(save_point, 8)
output =''
for i in sit:
    output =output + i
print(f'추천 비밀 번호는 : {output}')

<랜덤 비밀번호 생성기>
추천 비밀 번호는 : pkRq7oQd

In [70]:
#예시
import string
import random#문자열 상수를 제공하는 모듈로, 여기서는 알파벳 문자와 숫자를 포함

characters = string.ascii_letters + string.digits
password = ''.join(random.choice(characters)for i in range(8))

print('렌덤 비밀번호: ',password)

렌덤 비밀번호:  uRZ4zDtx

In [71]:
#예시
import string
import random#문자열 상수를 제공하는 모듈로, 여기서는 알파벳 문자와 숫자를 포함

upper = random.choice(string.ascii_uppercase)
lower = random.choice(string.ascii_lowercase)
digit = random.choice(string.digits)

characters = string.ascii_letters + string.digits
rest = ''.join(random.choice(characters) for i in range(5))

password = upper + lower + digit + rest

password = ''.join(random.sample(password, len(password)))

print('렌덤 비밀번호: ',password)

렌덤 비밀번호:  YWeFg4br

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [ ]:
from random import sample as sp
kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']
while True:
    try:
        choice = int(input('뽑을 인원을 입력하세요: '))
        break
    except ValueError:
        print('정수를 입력하세요')

print(sp(kita, choice), '당첨!')

뽑을 인원을 입력하세요: 3
['박윤경', '황강민', '윤호준'] 당첨!

Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.

In [ ]:
while True:
    try:
        num = int(input('1에서 9사이의 정수를 입력하세요: '))
        if num>=10:
            print("9이하의 숫자만!!!")
            continue

        break
    except ValueError:
        print('정수를 입력하세요')


for b in range(1, 10):
    print(f'{num}*{b} = {num * b}')

1에서 9사이의 정수를 입력하세요: 4
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36

In [97]:
for i in range(1, 10):
    print(f'\n<{i}단> ')
    for b in range(1, 10):
        print(f'{i } * {b} = {i * b}', end = '\t')

<1단>
1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9
<2단>
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
<3단>
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
<4단>
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
<5단>
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
<6단>
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
<7단>
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
<8단>
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
<9단>
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

f-string내에서 {}안에는 변수 뿐만 아니라 Python 표현식도 올 수 있음.

표현식(Expression)
- 하나 이상의 값, 변수, 연산자, 함수 호출 등을 조합하여 평가(evaluate)될 때 값을 생성하거나 반환하는 코드
- 표현식은 계산되어 값이 되는 모든 것을 의미

표현식의 예시:
- 수치 계산: 2 + 3는 5라는 값을 반환
- 문자열 조합: "Hello " + "World"는 "Hello World"라는 문자열을 생성
- 논리 연산: x > 5는 x의 값에 따라 True 또는 False를 반환
- 함수 호출: sum([1, 2, 3])은 리스트의 합인 6을 반환
- 조건식: x if x > 0 else -x는 x가 양수면 x를, 음수면 -x를 반환

In [117]:
for i in range(1,10):
    print(f'    {i}단     \t', end = '')
print()
for i in range(1,10):
    print(f'========== \t', end = '')
print()
for i in range(1,10):
    for b in range(1,10):
        print(f'{b} * {i} = {b*i}\t', end = '')
    print()

    1단     	    2단     	    3단     	    4단     	    5단     	    6단     	    7단     	    8단     	    9단
========== 	========== 	========== 	========== 	========== 	========== 	========== 	========== 	==========
1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.

In [118]:
while True:
    try:
        num = int(input('정수를 입력하세요: '))
        break
    except ValueError:
        print('정수를 입력하세요')
a = 1
gob = 1
while a<(num+1):
    gob = a * gob
    a += 1
print(f'{num}!의 결과는 : {gob}')

정수를 입력하세요: 10
10!의 결과는 : 3628800

Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

In [119]:
cp = []
so = []

for i in range(21):
    if i%2==0:
        cp.append(i)
    else:
        so.append(i)
print(cp, so)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.

numbers = [34,78,2,45,99,23]

In [ ]:
numbers = [34,78,2,45,99,23]
numbers.sort(reverse = True)
print(numbers[0])

99

In [120]:
numbers = [34,78,2,45,99,23]
max = 0
for i in numbers:
    if i>max:
        max = i

print(max)

99

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요.

In [130]:
import random as rd

print('숫자 맞추기 게임에 오신것을\n\t환영합니다!!!\n\n')

target=rd.randint(1,10)
print('콤퓨타가 숫자 선택을 완료했습니다\n')

while True:

    yes_or_no = ''
    while True:
        try:
            num = int(input('1부터 10사이의 숫자를 골라주세요~: '))
            if num not in range(1,11):
                print('올바른 값을 입력하세요\n')
                continue
            break
        except ValueError:
            print('정수를 입력하세요\n')
    if num > target:
        print(f'{num}보다 작은수입니다!\n')
    elif num < target:
        print(f'{num}보다 큰수입니다!\n')
    else:
        print('정답입니다~')
        yes_or_no = input("다시 허실? (y/n) :")

        if yes_or_no == 'y':
            target=rd.randint(1,10)
            print('콤퓨타가 숫자 선택을 완료했습니다\n')
            continue
        else:
            break

숫자 맞추기 게임에 오신것을
	환영합니다!!!


콤퓨타가 숫자 선택을 완료했습니다

1부터 10사이의 숫자를 골라주세요~: 9
9보다 작은수입니다!

1부터 10사이의 숫자를 골라주세요~: 1
1보다 큰수입니다!

1부터 10사이의 숫자를 골라주세요~: 5
정답입니다~
다시 허실? (y/n) :y
콤퓨타가 숫자 선택을 완료했습니다

1부터 10사이의 숫자를 골라주세요~: 9
9보다 작은수입니다!

1부터 10사이의 숫자를 골라주세요~: 1
1보다 큰수입니다!

1부터 10사이의 숫자를 골라주세요~: 5
5보다 큰수입니다!

1부터 10사이의 숫자를 골라주세요~: 8
8보다 작은수입니다!

1부터 10사이의 숫자를 골라주세요~: 7
7보다 작은수입니다!

1부터 10사이의 숫자를 골라주세요~: 6
정답입니다~
다시 허실? (y/n) :n

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요

In [132]:
while True:
    try:
        year = int(input('태어난 연도를 입력하세요: '))
        break
    except ValueError:
        print('정수를 입력하세요')

zodiac = ['쥐', '소', '호랑이', '토끼', '용', '뱀', '말', '양', '원숭이', '닭', '개', '돼지']
print(f'{year}년 출생자의 띠는 {zodiac[(year%12)-4]}')

태어난 연도를 입력하세요: 2024
2024년 출생자의 띠는 용

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [ ]:
prize={1:['Coffe', 500, 5], 2:['Hot Milk', 300, 3], 3:['Monster', 700, 4] }



while True:
    print('<자판기>')
    for i in range(1,4):
        print(f'{i}. {prize[i][0]}', end = ' ')

    print('\n')
    while True:
        try:
            num = int(input('원하시는 음료의 번호를 입력하세요(4번은 종료): '))
            if num not in range(1,5):
                print('올바른 번호를 입력하세요\n')
                continue
            break
        except ValueError:
            print('정수를 입력하세요')

    if num == 1: # 1번

        if prize[num][2]==0:
            print('\n<남아있는 음료가 없습니다!>')
            continue

        print(f'{prize[num][0]}을 선택하셧습니다 가격은 {prize[num][1]}원 입니다')
        while True:
            try:
                money = int(input('투입할 금액을 입력하세요: '))
                break
            except ValueError:
                print('올바른 금액을 입력하세요')

        if money < prize[num][1]:
            print('금액이 부족합니다')
            continue
        elif money > prize[num][1]:
            print(f'{money-prize[num][1]}원을 거슬러 드렸습니다 음료수를 챙겨가세요!')
            prize[num][2] -= 1
        else:
            print('음료가 준비되었습니다 챙겨가세요!')
            prize[num][2] -= 1


    elif num ==2:
        if prize[num][2]==0:
            print('\n<남아있는 음료가 없습니다!>')
            continue

        print(f'{prize[num][0]}을 선택하셧습니다 가격은 {prize[num][1]}원 입니다')
        while True:
            try:
                money = int(input('투입할 금액을 입력하세요: '))
                break
            except ValueError:
                print('<올바른 금액을 입력하세요>')

        if money < prize[num][1]:
            print('금액이 부족합니다')
            continue
        elif money > prize[num][1]:
            print(f'{money-prize[num][1]}원을 거슬러 드렸습니다 음료수를 챙겨가세요!')
            prize[num][2] -= 1
        else:
            print('<음료가 준비되었습니다 챙겨가세요!>')
            prize[num][2] -= 1


    elif num == 3:
        if prize[num][2]==0:
            print('\n<남아있는 음료가 없습니다!>')
            continue

        print(f'{prize[num][0]}을 선택하셧습니다 가격은 {prize[num][1]}원 입니다')
        while True:
            try:
                money = int(input('투입할 금액을 입력하세요: '))
                break
            except ValueError:
                print('올바른 금액을 입력하세요')

        if money < prize[num][1]:
            print('금액이 부족합니다')
            continue
        elif money > prize[num][1]:
            print(f'{money-prize[num][1]}원을 거슬러 드렸습니다 음료수를 챙겨가세요!')
            prize[num][2] -= 1
        else:
            print('<음료가 준비되었습니다 챙겨가세요!>')
            prize[num][2] -= 1

    else:
        break

<자판기>
1. Coffe 2. Hot Milk 3. Monster

원하시는 음료의 번호를 입력하세요(4번은 종료): 1
Coffe을 선택하셧습니다 가격은 500원 입니다
투입할 금액을 입력하세요: 500
음료가 준비되었습니다 챙겨가세요!
<자판기>
1. Coffe 2. Hot Milk 3. Monster

원하시는 음료의 번호를 입력하세요(4번은 종료): 1
Coffe을 선택하셧습니다 가격은 500원 입니다
투입할 금액을 입력하세요: 700
200원을 거슬러 드렸습니다 음료수를 챙겨가세요!
<자판기>
1. Coffe 2. Hot Milk 3. Monster

원하시는 음료의 번호를 입력하세요(4번은 종료): 3
Monster을 선택하셧습니다 가격은 700원 입니다
투입할 금액을 입력하세요: 700
음료가 준비되었습니다 챙겨가세요!
<자판기>
1. Coffe 2. Hot Milk 3. Monster

원하시는 음료의 번호를 입력하세요(4번은 종료): 1
Coffe을 선택하셧습니다 가격은 500원 입니다
투입할 금액을 입력하세요: 5000
4500원을 거슬러 드렸습니다 음료수를 챙겨가세요!
<자판기>
1. Coffe 2. Hot Milk 3. Monster

원하시는 음료의 번호를 입력하세요(4번은 종료): 1
Coffe을 선택하셧습니다 가격은 500원 입니다
투입할 금액을 입력하세요: 7000
6500원을 거슬러 드렸습니다 음료수를 챙겨가세요!
<자판기>
1. Coffe 2. Hot Milk 3. Monster

원하시는 음료의 번호를 입력하세요(4번은 종료): 1
Coffe을 선택하셧습니다 가격은 500원 입니다
투입할 금액을 입력하세요: 90000
89500원을 거슬러 드렸습니다 음료수를 챙겨가세요!
<자판기>
1. Coffe 2. Hot Milk 3. Monster

원하시는 음료의 번호를 입력하세요(4번은 종료): 1
남아있는 음료가 없습니다!
<자판기>
1. Coffe 2. Hot Milk 3. Monster

원하시는 음료의 번호를 입력하세요(4번은 종료): 4