#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

In [ ]:
## ! 기호는 Colab 셀에서 Unix/Linux 셀 명령어를 실행
!python --version

Python 3.10.12

In [ ]:
## % 기호는 IPython 환경 (즉, Colab이 포함된  Jupyter 환경)에서 제공하는 매직 명령어를 사용
## 라인 매직은 단일 라인에 대해 실행되며 %하나를 사용하고 셀 매직은 셀 전체에 적용되며 %%를 사용
##  현재 작업폴더 확인
%pwd

'/content'

In [ ]:
%%time
#간단한 for 루프를 사용한 계산
sum = 0
for i in range(1000000000):
      sum += i
print(sum)

499999999500000000
CPU times: user 2min 33s, sys: 347 ms, total: 2min 33s
Wall time: 2min 37s

#### 용어
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

#### 식별자
count, user_name, _is_valid, calculate_area, Car, model, year, math 및 m 모두 유효한 식별자. 각각의 식별자는 특정한 데이터 또는 기능에 이름을 부여하여 코드 내에서 해당 데이터나 기능을 참조할 수 있게하며 코드의 가독성과 유지 보수성을 높이는 데 중요한 역할

In [ ]:
# 변수 식별자
count = 10
user_name = "Alice"
_is_valid = True

#함수 식별자
def calculate_area(radius):
  return 3.14159 * radius * radius

#클래스 식별자
class Car:
  def __init__(self, model, year):
    self.model = model
    self.year = year

#모듈 식별자
import math as m

In [ ]:
calculate_area(50)

7853.974999999999

###식별자 기본규칙
 - 키워드를 사용하면 안된다
 - 특수문자는 언더 바(_)만 사용
 - 숫자로 시작하면 안된다
 - 공백을 포함할 수 없다

In [ ]:
import keyword
print(keyword.kwlist,'\n')
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [ ]:
alpha
break # 키워드
alpha10
_273alpha # 숫자
AlpHa
ALPHA
has space # 공백

SyntaxError: invalid syntax (<ipython-input-22-824c97f13239>, line 7)

Q. 주어진 문자열 리스트에서 유효한 Python 변수 이름만을 추출하여 반환하는 함수를 작성하세요.

In [ ]:
identifiers = ["var1", "2things", "variable_name", "time!", "break"]

In [ ]:
import keyword

def isidentifier_test(identifiers):
    output = list()
    for element in identifiers:
        if element.isidentifier() and (not keyword.iskeyword(element)):
            output.append(element)

    return output


identifiers = ["var1", "2things", "variable_name", "time!", "break"]
print(isidentifier_test(identifiers))

['var1', 'variable_name']

In [ ]:
for element in identifiers:
        print((not keyword.iskeyword(element)))

True
True
True
True
False

##파이썬은 snake_case와 CamelCase를 모두 사용
 - itemlist : liem_list itemList
 - loginstatus : login_status loginStatus
 - 캐멀 케이스(대문자로 시작) 클래스
 - 스네이크 케이스(소문자로 시작) 뒤에()가 있다 - 함수
 - 스네이크 케이스(소문자로 시작) 뒤에()가 없다 - 변수

In [ ]:
a=5
b=3
c=b%a
d=b//a
e=b/a
print(a)
print(b)
print(c)
print(d)
print(e)

5
3
3
0
0.6

In [ ]:
num1 = 0
num2 = 0


num1 = int(input("처음 숫자 입력 : "))
num2 = int(input("두번째 숫자 입력 : "))
print("첫 숫자가 클때 발표 ")
if num1 > num2:
    print(num1)

처음 숫자 입력 : 1
두번째 숫자 입력 : 2
첫 숫자가 클때 발표

새 섹션

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [ ]:
i1 = 3
f1 = 3.5
print(i1)
print(f1)

3
3.5

In [ ]:
# 정수(int)
print(int(True))
print(int(False))
print(int('104'))
print(int(3.14))

1
0
104
3

In [ ]:
# 실수(float)
print(float(True))
print(float(False))
print(float('104'))
print(float(3.140000010))

1.0
0.0
104.0
3.14000001

In [ ]:
# 사칙연산 : +, *, /, //, %, **
a = 10
b = 2.3
print(a+b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

12.3
23.0
4.347826086956522
4.0
0.8000000000000007
199.52623149688787

In [ ]:
# 문자열
string = '문자열'
a = "100"

In [ ]:
print(string)
a

문자열

'100'

In [ ]:
a

'100'

In [ ]:
a = 100
b = 50
print(a+b)
a = '100 '
b = '50'
print(a+b)

150
100 50

In [ ]:

a = int('100 ')
b = float('50')
print(a+b)

150.0

In [ ]:
input('인사말을 입력하세요 :')

인사말을 입력하세요 :hi

'hi'

In [ ]:
a = int(input())
b = int(input())
print(a+b)

5
5
10

In [ ]:
num1 = int(input("첫 숫자: "))
num2 = int(input("두번째 숫자: "))

print(num1+num2)

첫 숫자: 1
두번째 숫자: 2
3

In [ ]:
# 실수 + 실수 -> 실수
#Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

num1 = float(input("실수를 입력하세요 :"))
num2 = float(input("실수를 입력하세요 :"))

print(num1 + num2)

정수를 입력하세요 :3
실수를 입력하세요 :3.3
6.3

In [ ]:
# 정수 + 실수 -> 실수
#Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

num1 = int(input("정수를 입력하세요 :"))
num2 = float(input("실수를 입력하세요 :"))

print(num1 + num2)

In [ ]:
# Q. a = 50와 b = 52.273일때 a+b는 5252.273으로 출력되도록  a와b를 문자열 자료형으로 변환하세요
a = 52
b = 52.273
a = str(a)
b = str(b)
print(a+b)

5252.273

In [ ]:
# 문자열 : "", '', """ """, ''' '''
# p1 = 'Python's value is great' <=오류남
p1 = "Python's value is great"
print(p1)

Python's value is great

In [ ]:
#백슬래시 (\)는 문자열 안에서 작은따옴표 (')를 문자열의 끝을 의미하지 않는 일반 문자로 포함시키기 위해 사용
#이 기술을 이스케이프라고 함
p1 = 'Python\'s value is great'
print(p1)

Python's value is great

In [ ]:
# \n 행 바꿈
#y1 = "Close your eyes \nGive me your hand darring"
#y1 = "Close your eyes \tGive me your hand darring"
#y1 = "Close your eyes \000Give me your hand darring"
#y1 = "Close your eyes \vGive me your hand darring"
print(y1)
y1

Close your eyes Give me your hand darring

'Close your eyes \x0bGive me your hand darring'

In [ ]:
y2 = '''
동해물과
백두산이
마르고 닳도록
'''
print(y2)

동해물과
백두산이
마르고 닳도록

In [ ]:
y2 = """
동해물과
백두산이
마르고 닳도록
"""
y3 = '''
동해물과
백두산이
마르고 닳도록
'''
print(y2)
print(y3)

동해물과
백두산이
마르고 닳도록


동해물과
백두산이
마르고 닳도록

In [ ]:
a1 = "동해물과"
a2 = " 백두산이 \n마르고 닳도록"
print(a1+a2)
print('-=-=-='*5)

동해물과 백두산이
마르고 닳도록
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

In [ ]:
#Q . 아래와 같이 출력할 수 있는 string을 만드세요.
#"What a wonderful world"
#he said loudly

quz=str("\"What a woderful world\"\nhe said loudly")
print(quz)

"What a woderful world"
he said loudly

In [ ]:
#Q. 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요.

num1=int(input("정수를 입력하세요"))
num2=float(input("실수를 입력하세요"))

if num1<num2:
  print(num2)
elif num1==num2:
  print ("같은 수는 입력하지 마세요")
elif num1>num2:
  print(num1)

정수를 입력하세요555
실수를 입력하세요444
555

## 자료형 - List
 - 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열

In [ ]:
# 자료형 - List
# 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5], ['a','b','c']]
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [ ]:
#인덱싱
list1 = [1,2,3,4,5]
print(list1[1])
print(list1[1:4])
list1[:5]

2
[2, 3, 4]

[1, 2, 3, 4, 5]

In [ ]:
list3=[1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3[3][2:5])
print(list3[4][2])

[3, 4, 5]
c

In [ ]:
# 리스트 수정, 삭제
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a', 'b', 'c']
a[0] = 1
print(a)
b[1]='a'
print(b)
del a[0]
print(a)
del a[0]
print(a)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
['a', 'c']

In [ ]:
# 끝에서 부터 인덱싱 : -1
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a', 'b', 'c']
print(a[-2])
print(a[-4:-1])
print(a[-4:])

8
[6, 7, 8]
[6, 7, 8, 9]

In [ ]:
#리스트 확장
h = [1,2,3]
h.extend([1,5])
print(h)
h.append(6)
print(h)
h.insert(0,5)
print(h)
del h[3]
h.insert(3,10)
print(h)

[1, 2, 3, 1, 5]
[1, 2, 3, 1, 5, 6]
[5, 1, 2, 3, 1, 5, 6]
[5, 1, 2, 10, 1, 5, 6]

Q. list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기 - 도전
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [ ]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]


print(list1[11][1])#1


list1.append(82)#2
print(list1)#2





def find_index():
  count=0
  i=0
  for list1[i] in list1:
      i +=1
      count += 1
      if list1[i]==87:
        break
  return count


print(find_index())#3
#3번 정답
print(list1.index(87))#3


print(list1[3:11])#4
list2=list1[3:11]#4
print(list2)#4
list2.sort(reverse=True)#4
print(list2)#4



del list1[8]#5
list1.insert(8,11)#5
print(list1)#5



print(list1[2::-1])#6




def find_2x():#7
  output=list()
  i=0
  for list1[i] in list1:
    if i%2 == 0:
      output.append(list1[i])
    i+= 1
  return output
print(find_2x())
#7번 정답
print(list1[0::2])##****




del list1[-1]#8
print(list1)




print(list1[3]+list1[5])#9
print(list1[3]-list1[5])
print(list1[3]*list1[5])
print(list1[3]/list1[5])
print(list1[3]//list1[5])
print(list1[3]%list1[5])

33
[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
5
5
[19, 4, 87, 29, 13, 39, 15, 54]
[19, 4, 87, 29, 13, 39, 15, 54]
[87, 54, 39, 29, 19, 15, 13, 4]
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
[69, 45, 58]
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
106
-68
1653
0.21839080459770116
0
19

In [ ]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

print(list1)

print(list1[::-1])

print(list1[::-2])

print(list1[7:11:2])

#lista[a:b:c]
#a는 시작점 b는 끝점 c는 증가폭

[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
[82, 22, 98, 63, 49, 27, [8, 33, 11], 54, 15, 39, 13, 29, 87, 4, 19, 69, 45, 58]
[82, 98, 49, [8, 33, 11], 15, 13, 87, 19, 45]
[13, 15]

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:(이거 햇갈림)
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [ ]:
list2=[1,2,3,4,5,6,7,8,9,12,1,3,3,1,4]
list2.sort()
print(list2)

[1, 1, 1, 2, 3, 3, 3, 4, 4, 5, 6, 7, 8, 9, 12]

In [ ]:
# sort()

my_list = [1,3,2]
my_list.sort()
print(my_list)
print('\n\n\n\n\n')



# sorted()
my_tuple = (3,1,2)
new_list = sorted(my_tuple)
print(my_tuple)
print(new_list)

[1, 2, 3]






(3, 1, 2)
[1, 2, 3]

In [ ]:
list1 = [1,2,6,43,2,4,1]
new_list=list1.sort()#sort는 list내에서 실행이라 반환값이 없음
print(list1)
print(new_list)
new_list=list1
print(new_list)

[1, 1, 2, 2, 4, 6, 43]
None
[1, 1, 2, 2, 4, 6, 43]

In [ ]:
list1 = [1,2,6,43,2,4,1]
new_list = sorted(list1,reverse=True)
print(list1)
print(new_list)

[1, 2, 6, 43, 2, 4, 1]
[43, 6, 4, 2, 2, 1, 1]

In [ ]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2 = list1[3:11]
l_sort = sorted(list2,reverse=True)
print(l_sort)

[87, 54, 39, 29, 19, 15, 13, 4]

In [ ]:
list2 = list1[11]
print(list2)

[8, 33, 11]

In [ ]:
list2.sort()
print(list2)

[8, 11, 33]

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
numbers.sort()
print(f'최솟값 : {numbers[0]} 최댓값 : {numbers[-1]}')

#정답 => min, max 내장함수 사용

min_value = min(numbers)
max_value = max(numbers)
print(min_value, max_value)

최솟값 : 4 최댓값 : 87
4 87

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, ]


max_num=numbers[0]
min_num=numbers[0]

for num in numbers :
  if min_num > num:
    min_num = num
  if max_num < num:
    max_num = num

  print(max_num, min_num)

58 58
58 45
69 45
69 19
69 4
87 4
87 4
87 4
87 4
87 4

In [ ]:
for i in [38, 21, 53, 62, 19]:
    print(i)

38
21
53
62
19

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
i=0
output = 0
for numbers[i] in numbers:
  output += numbers[i]
  i += 1

print(f'모든 요소의 합 : {output}\n')
print(f'요소의 평균 : {output/len(numbers)}')


#정답
total= sum(numbers)

print(total)
print(total/len(numbers))
## 평균 관련한 내장 함수는 없음

모든 요소의 합 : 378

요소의 평균 : 37.8
378
37.8

In [ ]:
import numpy as aa
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
print(sum(numbers), aa.mean(numbers))

378 37.8

In [ ]:
import statistics as st
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
avg=st.mean(numbers)
print(avg)

37.8

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

target = 'apple'

In [ ]:
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']
target = 'apple'
i=0
output = []


for items[i] in items:
  if items[i]==target:
    output.append(i)
  i += 1

print(output)

[0, 3, 5]

In [ ]:
indexes = [index for index, value in enumerate(items) if value == target]

print(indexes)

[0, 3, 5]

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.

예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

In [ ]:
list_task = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
i = 0

while i < len(list_task)-1:
  if list_task[i]==list_task[i+1]:
    list_task.remove(list_task[i+1])
  else:
    i+=1




print(list_task)

['a', 'a', 'b', 'c', 'c', 'd', 'e']

In [ ]:
## 정답 예시

list_task = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
result = [list_task[0]]
for i in list_task[1:]:
  if i != result[-1]:
    result.append(i)
print(result)

['a', 'b', 'c', 'd', 'e']

In [ ]:
def remove_consecutive_duplicates(items):
  #아이템이 없으면 실행하지 말것
  if not items:
    return []
  i=0

  while i < len(items)-1:
    if items[i]==items[i+1]:
     items.remove(items[i+1])
    else:
      i+=1


  return items


sorce=['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
da=0
print(remove_consecutive_duplicates(sorce))
print(remove_consecutive_duplicates(da))

['a', 'b', 'c', 'd', 'e']
[]

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [ ]:
list_task = [1,2,3,4,5]
k = int(input('k 값을 입력하세요 :'))
i = 1

if k>len(list_task):
    k=k%len(list_task)

while i <= k:
  list_task.insert(0,list_task.pop())
  i+=1

print(list_task)

k 값을 입력하세요 :2
[4, 5, 1, 2, 3]

In [ ]:
## 정답 예시
def rotate_list(nums, k):
  if not nums:
    return nums
  #회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k % len(nums)
  #리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[-k:] + nums[:-k]

  return rotated

nums = [1,2,3,4,5]
k=3

print(rotate_list(nums, k))

[3, 4, 5, 1, 2]

In [ ]:
def rotate_list(nums, k):
  if not nums:
    return nums
  #회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k % len(nums)
  #역순
  rotated = nums[k:] + nums[:k]

  return rotated

nums = [1,2,3,4,5]
k=3

print(rotate_list(nums, k))

[4, 5, 1, 2, 3]

## 자료형 - Tuple

 - 튜플은 변경할 수 없는(immutable) 순서가 있는 컬렉션
 - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = ('a', 'b', 'c')
tuple3 = (1,'a','abc', [1,2,3,4,5], ['a','b','c'])

print(tuple1[:])
print(tuple1[2])
print(tuple3[3][3])

(1, 2, 3, 4, 5)
3
[1, 2, 3, 4, 5]

In [ ]:
list  = [ 1,2,3,4,5]
list[0]=50
list

[50, 2, 3, 4, 5]

In [ ]:
#튜플의 요소 값은 변경할 수 없음
tuple = (1,2,3,4,5)
tuple[0]=50
tuple

In [ ]:
l1 = [1]
print(l1)
type(l1)

[1]

list

In [ ]:
t1 = (1,) #1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)
type(t1)

(1,)

tuple

In [ ]:
t1=(1)
print(t1)
type(t1)

1

int

In [ ]:
t2 = 1, 2, 3  #()<= 소괄호 생략해도 튜플로 표현가능
print(t2)
type(t2)

(1, 2, 3)

tuple

In [ ]:
print(t2 * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
t1 + t2

(1, 1, 2, 3)

In [ ]:
## Q. 'red','green','blue'값을 갖는 튜플에서 각 값을 각각r,g,b, 변수에 할당하고 출력하세요.

colors = ('red', 'green', 'blue' )
r,g,b = colors
print(r)
print(g)
print(b)

red
green
blue

함수에서 여러 값을 반환할 때 튜플을 사용하는 것이 일반적입니다.
Q. 주어진 리스트의 총합과 평균을 동시에 반환하는 함수를 작성하세요ㅣ
numbers = [10,20,30,40,50]

In [ ]:
def aclculate_sum_and_average(numbers):
  sum1=sum(numbers)
  avg1=sum(numbers)/len(numbers)



  return (sum1, avg1)

numbers = [10,20,30,40,50]
tot, avg = aclculate_sum_and_average(numbers)
print(f'총합 : {tot}  평균 : {avg}')

총합 : 150  평균 : 30.0

### 자료형 - 사전
 - 키와 값을 하나의 요소로 하는 순서가 없는 집합

In [ ]:
d1 = {'a':1, 'b':2, 'c':3}
print(d1['a'])

1

In [ ]:
d1.values()

dict_values([1, 2, 3])

In [ ]:
d1.items()
#튜플 형태의 리스트로 나옴

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
d1['a']=3
d1

{'a': 3, 'b': 7, 'c': 3, 'd': 4, 'h': 1}

In [ ]:
d1['b']=7
d1

{'a': 3, 'b': 7, 'c': 3, 'd': 4, 'h': 1}

In [ ]:
del d1['b']

KeyError: 'b'

In [ ]:
d1

{'a': 3, 'c': 3, 'd': 4, 'h': 1}

Q.딕셔너리 d에서'b'의 값을 확인하면서 그 값을 삭제하세요

In [ ]:
d = {'a':1, 'b':2, 'c':3, 'd':4}


def surch_and_del(target, dict):

  while True:
    ans = input(f"{target}의 값은 {dict[target]} 입니다 삭제하시겠습니까? y/n : ")
    if ans == 'y':
      del dict[target]
      print(f'삭제 성공 {dict}')
      break




target = input('지울 알파벳을 입력하세요 :')

surch_and_del(target, d)

지울 알파벳을 입력하세요 :a
a의 값은 1 입니다 삭제하시겠습니까? y/n : y
삭제 성공 {'b': 2, 'c': 3, 'd': 4}

In [ ]:
#문제 예시
d = {'a':1, 'b':2, 'c':3, 'd':4}
value = d.pop('b')## pop 사용
print('삭제 값: ', value)
print(d)

삭제 값:  2
{'a': 1, 'c': 3, 'd': 4}

Q.다음과 같이 학생의 이름과 점수를튜플로 묶은 리스트가 있습니다: [("Tom",85),("Jane",90),("Bob",75)]
이 리스트를 사용해 학생 이름을 키로, 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요.

In [ ]:
list_student = [("Tom",85),("Jane",90),("Bob",75)]
list_student[0][0]
def mk_dict(list_student):
  dict_student = {}
  i=0
  for student in list_student:
    dict_student[list_student[i][0]]=list_student[i][1]
    i+=1
  return dict_student


print(mk_dict(list_student))

{'Tom': 85, 'Jane': 90, 'Bob': 75}

In [ ]:
#정답 예시
list_student = [("Tom",85),("Jane",90),("Bob",75)]
student_dict = dict(list_student)
print(student_dict)

{'Tom': 85, 'Jane': 90, 'Bob': 75}

Q.튜플의 불변성 때문에 튜플은 딕셔너리의 키로 사용될 수 있습니다. 주어진 위치 좌표 리스트에서 각 위치가 몇 번 나타나는지 계산하는 딕셔너리를 만드세요.

In [ ]:
positions = [(1,1),(2,2),(1,1),(3,3),(2,2)]


def count_positions_and_mk_dict(positions):
  dict_positions = {}
  count = 0
  count_pos = set(positions)#(1,1)(2,2)(3,3)

  for ps in count_pos:
    i=0
    while i < len(positions):
      if ps == positions[i]:
        count += 1

      i+=1
    dict_positions[ps]=count
  return dict_positions

print(count_positions_and_mk_dict(positions))

{(1, 1), (3, 3), (2, 2)}
{(1, 1): 2, (3, 3): 3, (2, 2): 5}

In [ ]:
#정답 예시

positions = [(1,1),(2,2),(1,1),(3,3),(2,2)]

position_count = {}

for pos in positions:
  if pos in position_count:
    position_count[pos] += 1
  else:
    position_count[pos] = 1

print(position_count)

{(1, 1): 2, (2, 2): 2, (3, 3): 1}

## 자료형 - 집합,set

- 중복을 허용하지 않으며 순서가 없다.=인덱스가 없다.

In [ ]:
s1 = set([1,5,3,2,4])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'l', 'e', 'o', 'H'}

In [ ]:
l1 = list(s1)
print(l1)
print(l1[1])

[1, 2, 3, 4, 5]
2

In [ ]:
o1 = list(s2)
save = 0
for pos in o1:
  if pos == 'l':
    save = pos

print(save)

l

In [ ]:
l2 = list(s2)
print(l2)
print(l2[0])

['l', 'e', 'o', 'H']
l

 Q. 주어진 리스트에서 중복 요소를 제거하고 결과를 출력하세요.
 num=[1,2,2,3,4,4,4,5]

In [ ]:
num=[1,2,2,3,4,4,4,5]
print(set(num))

{1, 2, 3, 4, 5}

Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요.

In [ ]:
s1 = [1,2,3,4,5,6]
s2 = [4,5,6,7,8,9]

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(list(s1 | s2))#교집합
print(list(s1&s2))#합집합 => list에선 사용 불가능

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

Q.첫 번째 집합에서 두 번째 집합의 요소를 제외한 차집합을 구하고 출력하세요.

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7}

print(set1-set2)
set1.difference(set2)

{1, 2, 3}

{1, 2, 3}

Task1_0426. 주어진 리스트에서 중복된 요소를 제외하고 고유한 요소의 개수를 세는 프로그램을 작성하세요.

data = [1, 2, 2, 3, 4, 4, 4, 5]

In [ ]:
data = [1, 2, 2, 3, 4, 4, 4, 5]

set_data = set(data)
print(len(set_data))

5

Task2_0426. 두 개의 리스트에서 공통으로 나타나는 요소들을 찾아 리스트로 반환하는 프로그램을 작성하세요.

예시 입력: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7, 8]

예시 출력: [4, 5]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

def a_and_b(l1, l2):
    set_l1 = set(l1)
    set_l2 = set(l2)

    return set_l1 & set_l2

print(a_and_b(list1,list2))

{4, 5}

##자료형 - 논리(Bool) True와 False
- 파이썬에서 참과 거짓을 나타내는 상수. True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [ ]:
print(bool(0))
print(bool(''))
print(bool([]))
print(bool(1))
print(bool(100))

False
False
False
True
True

##아스키코드
ASCII 값에서 'a'는 97이고 'p'는 112입니다. 'a'는 'p'보다 작으므로 str1<str2는 True를 반환

In [ ]:
x=1;y=2
str1 = 'abc' ; str2 = 'python'
print(x==y)
print(x!=y)
print(str1 == str2)
print(str2 == 'python')
print(str1 <str2)

False
True
False
True
True

In [ ]:
#논리 연산자
bool1 = True; bool2 = False; bool3 = True; bool4 = False
print(bool1 and bool2)
print(bool1 or bool2)
print(not bool3)
print(not bool4)

False
True
False
True

#### 파이썬에서 들여쓰기
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [ ]:
li = ['a', 'b', 'c']
if 'a' in li:
    print('a가 li에 있습니다')
else:
    print('a가 li에 없습니다')

a가 li에 있습니다

##사용자 함수

사용자 함수의 형태

입력값, 출력값 모두 있는 경우
입력값만 있는경우
출력값만 있는경우
입출력값이 없는 경우

In [ ]:
numbers = [1,2,3]
sum(numbers)#파이썬 내장함수

6

In [ ]:
def add(a,b,c):
    return a+b+c

add(1,2,3)

6

In [ ]:
def mul(a,b,c):
    return a*b*c

mul(10,5,7)

350

Q.뺄셈, 나눗셈을 수행하는 사용자 함수를 작성하세요.

In [ ]:
a = int(input('첫 숫자 입력: '))
b = int(input('두번째 숫자 입력: '))
c = int(input('세번째 숫자 입력: '))
def mul_minu(num1, num2, num3):
    if num2 == 0 or num3 ==0:
        print("0으로 나눌 수 없습니다")
    return num1/num2/num3,num1-num2-num3
print(mul_minu(a,b,c))

첫 숫자 입력: 5
두번째 숫자 입력: 2
세번째 숫자 입력: 1
(2.5, 2)

##클래스

In [ ]:
class Addmul:
    def add(self,a1,a2):
        return a1+a2
    def mul(self,a1,a2):
        return a1*a2

obj1 =Addmul()
print(obj1.add(1,2))
onj2=Addmul()
print(obj1.mul(1,2))

3
2

In [1]:
#split() 함수
text = '나는 오늘 기분이 좋아요'
words = text.split()
words

['나는', '오늘', '기분이', '좋아요']

In [3]:
text = 'apple, banana, orange'
words = text.split(',') #, 기준으로 잘라줌
words

['apple', ' banana', ' orange']

In [5]:
time_string = '12:30:55'
time_list = time_string.split(':')
time_list

['12', '30', '55']

In [10]:
#Q. 아래 text를 분리해 보세요.
multi_line_text = "hello\nWorld\nPython\nProgramming"
print(multi_line_text)
multi_line_text = multi_line_text.split('\n')
print(multi_line_text)

hello
World
Python
Programming
['hello', 'World', 'Python', 'Programming']

In [11]:
#복합 대입 연산자
num = 10
num += 10
num

20

In [15]:
# Q. 복합 대입 연산자를 이용해서 4칙연산을 수행하세요

a = 10

a+=10
print(a)

a-=10
print(a)

a*=10
print(a)

a/=10
print(a)

20
10
100
10.0

In [21]:
# 소문자, 대문자 변환
word = 'DoG'
w1 = word.lower()
print(w1)
w2 = word.upper()
print(w2)

dog
DOG

#이스케이프 문자

- 키보드로 입력하기 어려운 기호 등을 나타낸다.
- \로 시작, \n줄바꾸기, \t탭,

In [23]:
print('나는 파이썬을 사랑합니다.\n파이썬은 자바보다 훨씬 쉽습니다.')
print('나는 파이썬을 사랑합니다.\t파이썬은 자바보다 훨씬 쉽습니다.')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 훨씬 쉽습니다.
나는 파이썬을 사랑합니다.	파이썬은 자바보다 훨씬 쉽습니다.

In [24]:
print('Hello\tWorld!')      #탭 문자를 사용하여 "Hello"와 "World!" 사이에 탭 간격을 줍니다.
print('Hello\nWorld!')      #줄 바꿈 문자를 사용하여 "Hello"와 "World!"를 다른 줄에 출력합니다.
print('She said, \"hi!\"')  #큰따옴표를 문자열 내부에 포함시킵니다.
print('It\'s raining.')     #작은따옴표를 문자열 내부에 포함시킵니다.
print('Backslash:\\')       #백슬래시를 출력합니다.

Hello	World!
Hello
World!
She said, "hi!"
It's raining.
Backslash:\

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다.
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [25]:

print('%(num)d, %(float)f, %(string)s' % {"num":3, "float":4,"string":'hello'})

3, 4.000000, hello

In [27]:
txt1='자바';txt2='파이썬'
num1 = 5; num2 = 3
print('나는 %s보다 %s에 더 익숙합니다' %(num1,num2))
print('%s은 %s 보다 %d배 더 쉽습니다' %(txt2, txt1, num1))
print('%d + %d = %d' %(num1, num2, num1+num2));
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.' %num1)

나는 5보다 3에 더 익숙합니다
파이썬은 자바 보다 5배 더 쉽습니다
5 + 3 = 8
작년 세계 경제 성장률은 전년에 비해 5% 포인트 증가했다.

In [31]:
#str.format
print('We are the  {} who say "{}!"'.format('knights', 'Ni'))

We are the  knights who say "Ni!"

In [32]:
#f-string
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은홍길동입니다. 나이는 30입니다.'

In [34]:
table = {'Tom': 1234, 'Jack': 4518, 'Eddie' : 9638}
for name, phone in table.items():
    print(f'{name:5}  ==> {phone:5d}')

Tom    ==>  1234
Jack   ==>  4518
Eddie  ==>  9638

In [35]:
# 소수점 4자리까지만 표현
y = 3.142592
f'{y:0.4f}'

'3.1426'

In [36]:
#소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

y= 3.54123123
f'{y:10.4f}'

'    3.5412'

In [50]:
# Q. num1=12345, num2=12.345679 을 아래와 같이 출력하세요.
#12345
#    12345
 #   12.345679
  #          12.346

num1=12345
num2=12.345679
print(num1)
print(f'{num1:10d}')
print(num2)
print(f'{num2:17.3f}')

12345
     12345
12.345679
           12.346

#### 2진수, 8진수, 16진수의 데이터 표현 방법

- 우리가 프로그래밍을 하면서 변수에 어떤 값을 저장할 때 10진수는 일상적 표현을 그대로 대입한다.
- 예를들어 15를 저장하고 싶다면 int a= 15; 와 같이 15라는 숫자를 그대로 대입하면 된다.
- 하지만 2진수, 8진수, 16진수는 표현법이 따로 정해져있다.<br><br>  

- 2진수는 대입하고자 하는 값 앞에 0b를 붙인다. (숫자0과 영문자b)
- 8진수는 대입하고자 하는 값 앞에 0o 을 붙인다. (숫자0 영문자o)
- 16진수는 대입하고자 하는 값 앞에 0x 를 붙인다. (숫자0과 영문자x)

아래의 예시를 보자.
변수 a,b,c,d 는 모두 10진수 122 이라는 값을 저장하는 코드이다.

122는
- 2진수로 1111010
- 8진수로 172
- 16진수로 7A 이다.

In [1]:
a= 0o172
b= 0x7a
c= 0b1111010
print(a)
print(b)
print(c)

122
122
122

In [57]:
# Q. 10을 10진수, 2진수, 8진수, 16진수로 출력하세요.
a = 10

print(a)
print(0b10)
print(0o10)
print(0x10)

SyntaxError: invalid binary literal (<ipython-input-57-cbda762dca5f>, line 5)

In [58]:
#파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
#16진수 10 a , 11b, 12c, 13d, 14e, 15f

e = 0o177
f = 0xABC
g = 0b101010

print(e)
print(f)
print(g)

127
2748
42

In [60]:
g1 = 0b001000
g2 = 0b100
g3 = 0b10

print(g1)
print(g2)
print(g3)

8
4
2

In [62]:
#16진수를 10진수로 표현
f1 = 0xA
f2 = 0xB
f3 = 0xAB
print(f1)
print(f2)
print(f3)
print(16*10+1*11)

10
11
171
171

In [64]:
#Q. 0xABC를 계산하세요.

print(0xABC)
print(16*16*10+16*11+1*12)

2748
2748