Task1_0429. input_str을 아래와 같이 단어로 분리하여 출력하세요.

input_str = "Hello, world! How are you today? i am fine. Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today', 'i', 'am', 'fine', 'Thank', 'you',' ']

In [3]:
input_str = "Hello, world! How are you today? i am fine. Thank you!"
words = input_str.split()


i = ''
output = []


for value in words:
    for spe in [',', '.', '!', '?']:
        value = value.strip(spe)
    output.append(value)

print(output)

['Hello', 'world', 'How', 'are', 'you', 'today', 'i', 'am', 'fine', 'Thank', 'you']

In [ ]:
input_str = "Hello, world! How are you today? i am fine. Thank you!"
words = input_str.split()
i = ''
output = []
for value in words:
    output.append(value.strip(""))

print(output)

In [ ]:
words[0].strip(',')

for word in words

'Hello'

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [ ]:
a = 122
print(a)
print(bin(a))
print(oct(a))
print(hex(a))

122
0b1111010
0o172
0x7a

Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [ ]:
num1 = int(input("수 입력 :"))
num2 = int(input("수 입력 :"))

def n1_n2(a,b):
    print(a*b+10)

n1_n2(num1,num2)

수 입력 :4
수 입력 :4
26

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [ ]:
list_task = ['Java', 'C', 'JavaScript']

del(list_task[1])
list_task.append('Python')
print(list_task)

['Java', 'JavaScript', 'Python']

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [ ]:
task_str = 'incredible'
test = (f'{task_str[0:3]}{task_str[-3:]}')
print(test)

incble

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [ ]:
def account_reg():
    name = input('사용자 이름을 등록하세요 : ')
    email = input('사용자 이메일을 등록하세요 :')
    key_value = {}
    key_value[name] = email
    return name , email

def surch_surv(account):
    name = input('이름을 입력하세요 : ')
    if name in account:
        print(account[name])

account_dic = dict()
while True:

    survice = int(input('원하시는 서비스의 번호를 골라주세요\n1:계정 등록\n2.이메일 찾기\n3.서비스종료\n입력 : '))
    if survice ==1:
        a , b =account_reg()
        account_dic[a] = b
    elif survice ==2:
        surch_surv(account_dic)
    elif survice ==3:
        break
    else:
        print('올바른 번호를 골라주세요')

원하시는 서비스의 번호를 골라주세요
1:계정 등록
2.이메일 찾기
3.서비스종료
입력 : 1
사용자 이름을 등록하세요 : Alice
사용자 이메일을 등록하세요 :alice@gmail.com
원하시는 서비스의 번호를 골라주세요
1:계정 등록
2.이메일 찾기
3.서비스종료
입력 : 2
이름을 입력하세요 : Alice
alice@gmail.com
원하시는 서비스의 번호를 골라주세요
1:계정 등록
2.이메일 찾기
3.서비스종료
입력 : 3

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)ㅇ

In [ ]:
a = (1,2,3,4,5)
b = (4,5,6,7,8)
a_set = set(a)
b_set = set(b)
c = a_set & b_set
print(c)

{4, 5}

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

- 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
- 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
- 이름이 'John'인 사용자의 정보만 출력하세요.
- 전체 사용자의 평균 나이를 계산하고 출력하세요.

1. 사용자 데이터:
- 이름: John
- 나이: 28
- 좋아하는 색상: Blue
2. 사용자 데이터:
- 이름: Alice
- 나이: 24
- 좋아하는 색상: Red
3. 사용자 데이터:
- 이름: Maria
- 나이: 32
- 좋아하는 색상: Green

In [ ]:
def account_reg():
    name = input('이름을 입력하세요: ')
    age = int(input('나이를 입력하세요: '))
    color = input('좋아하는 색을 입력하세요: ')
    info = [age, color]
    return name , info

def account_surch(account_dict):
    name = input('찾으실 사용자의 이름을 입력하세요 : ')
    print(account_dict[name])

def account_div(account_dict):
    a = 0
    sum = 0
    for i in account_dict:
        age = account_dict[i]
        sum += age[0]
        a += 1
    return sum/a

account_dict={'John':[28, 'Blue'], 'Alice':[24,'Red'], 'Maria':[32,'Green']}
while True:
    survice = int(input('\n\n\n\n원하시는 서비스의 번호를 골라주세요\n1:계정 등록\n2.유저 정보\n3.총사용자 평균나이\n4.나가기\n입력 : '))
    if survice ==1:
        name , info =account_reg()
        account_dict[name] = info
    elif survice ==2:
        account_surch(account_dict)
    elif survice ==3:
        print(account_div(account_dict))
    elif survice==4:
        break
    else:
        print('올바른 번호를 골라주세요')

원하시는 서비스의 번호를 골라주세요
1:계정 등록
2.유저 정보
3.총사용자 평균나이
4.나가기
입력 : 1
이름을 입력하세요: 이상협
나이를 입력하세요: 26
좋아하는 색을 입력하세요: Green




원하시는 서비스의 번호를 골라주세요
1:계정 등록
2.유저 정보
3.총사용자 평균나이
4.나가기
입력 : 2
찾으실 사용자의 이름을 입력하세요 : John
[28, 'Blue']




원하시는 서비스의 번호를 골라주세요
1:계정 등록
2.유저 정보
3.총사용자 평균나이
4.나가기
입력 : 3
27.5




원하시는 서비스의 번호를 골라주세요
1:계정 등록
2.유저 정보
3.총사용자 평균나이
4.나가기
입력 : 4

In [ ]:
account_dict={'John':[28, 'Blue'], 'Alice':[24,'Red'], 'Maria':[32,'Green']}
for i in account_dict:
    print(account_dict[i])

[28, 'Blue']
[24, 'Red']
[32, 'Green']