In [1]:
import pandas as pd

In [197]:
df = pd.read_csv('아이폰_x검색결과.csv')
df

,title,coment,region,price
0,아이폰11 + 박스 + 케이스,"아이폰11 64GB입니다\n사진에 보이듯 액정 파손이 있으며 이외 후면과 기능, 카...",\n 광주 광산구 어룡동\n,"\n 150,000원\n"
1,마지막 가격 내림 아이폰5s 골드 16기가,"사용감 좀 있지만, 상태좋고 깨끗한편 입니다 (사진참고)\n원하시면 같이 사용하던 ...",\n 경기도 동두천시 상패동\n,"\n 80,000원\n"
2,아이폰 12 케이스티파이 케이스 프릭스,프릭스 x 케이스티파이 아이폰 12 모델입니다 사용감이 없지 않아 저렴하게 올립니다,\n 경기도 용인시 수지구 죽전1동\n,"\n 20,000원\n"
3,아이폰 X 애플 정품 가죽케이스 팔아요(박스X),"4년 됐어요.\n검은색이고요 가죽 상태 괜찮아요.\n\nXs는 안 맞습니다, 제가 ...",\n 서울 관악구 봉천동\n,"\n 2,000원\n"
4,📱아이폰 13 풀 박스📱,풀 박스 아이폰 13입니다.\n찍힘 정도는 사진 확인 부탁드려요!\n(7번째 사진 ...,\n 서울 송파구 오금동\n,"\n 500,000원\n"
...,...,...,...,...
5407,3피스 비키니 수영복 (최종가격),한번 착용 후 보관한 3피스 비키니 수영복 입니다.(수영복이 200벌 넘게 있어서 ...,\n 서울 용산구 이촌제2동\n,"\n 6,000원\n"
5408,꾸비올로하이브리드범퍼케이스2개,기종은 아이폰x/xs입니다\n몇번 사용 안했어요\n연락주세요,\n 경남 거제시 옥포동\n,"\n 18,000원\n"
5409,벨킨 듀얼 라이트닝 아이폰 젠더,아이폰 포트가 하나라서 발생하는 불편 해결용 젠더입니다. \n벨킨 정품으로 mfi ...,\n 부산 연제구 연산제9동\n,"\n 37,000원\n"
5410,케이스티파이 라인프렌즈 콜라보 케이스 12프로맥스(미개봉 새제품),케이스티파이 x 라인프렌즈 콜라보 케이스 팝니다.\n미개봉 새제품이고 기종은 아이폰...,\n 서울 성북구 안암동5가\n,"\n 50,000원\n"
5411,아이폰 12 프로 맥스 케이스,아이폰 12 pro max 케이스입니다 \n곰인형 있는 투명 젤리에요\n새 것입니다...,\n 강원도 원주시 행구동\n,"\n 8,000원\n"

In [198]:
len(df)

5412

In [199]:
#price 전처리
df['price']=df['price'].str.replace('\n','')
df['price']=df['price'].str.replace(' ','')
df['price']=df['price'].str.replace(',','')
df['price']=df['price'].str.replace('만원','0000')
df['price']=df['price'].str.replace('원','')
#df['price']=df['price'].astype(int) 가격없음, 나눔

In [200]:
#price를 int로
idx = df[df['price'] == "나눔🧡"].index
df.drop(idx,inplace=True)

In [201]:
idx = df[df['price'] =='가격없음'].index
df.drop(idx,inplace=True)

In [202]:
idx = df[df['price'].str.contains('억')].index
df.drop(idx,inplace=True)

In [203]:
idx = df[df['price'].str.contains('만')].index
df.drop(idx,inplace=True)

In [204]:
df['price']=df['price'].astype(int)

In [205]:
idx = df[df['price']<10001].index
df.drop(idx,inplace=True)

In [206]:
idx = df[df['title'].str.contains('케이스')].index
df.drop(idx,inplace=True)

In [207]:
idx = df[df['title'].str.contains('필름')].index
df.drop(idx,inplace=True)

In [208]:
df = df.reset_index()

In [209]:
# 중복 제거
df = df.drop_duplicates()

In [210]:
df = df.drop('index',axis=1)

In [211]:
len(df['title'].unique())

2206

In [212]:
#region 전처리
df['region']=df['region'].str.replace('\n','')

In [319]:
df

,title,coment,region,price
3,아이폰X 256GB,중고로 샀는데 2주일도 안 지나고 떨궈버려서 화면이 조금 까매졌어요..\n폰 위쪽 ...,울산 남구 야음동,198000
4,아이폰X 256GB,아이폰X 배터리효율 85퍼이고 모든 기능 정상작동 합니다. 생활기스 조금있지만 눈에...,인천 미추홀구 숭의동,230000
5,아이폰x(64G),외부생활기스\n(페이스 아이디 안됨)\n기능정상 입니다\n배터리 100프로🔋\n전통...,대구 달성군 유가읍,190000
6,아이폰x 256g 판매합니다,아이폰x 256g 판매합니다. 배터리76프로 박스있습니다.,서울 송파구 풍납동,200000
7,아이폰 X 256GB(쿨거네고/상태좋음),15pro로 바꾸면서 세컨폰으로 가지고 있다가 판매합니다.\n스페이스그레이\n배터리...,서울 송파구 위례동,170000
...,...,...,...,...
2361,아이폰XR 64GB 레드 (81%),아이폰XR 64GB (이어폰X박스X케이블X)\n배터리 81%\n액정 하단 두줄 있으...,경기도 성남시 분당구 이매동,162000
2364,아이폰xr 128기가 뒷판파손,전체적으로 사용감은 있지만 침수없이(x) 잘쓰다\n팔아봅니다! 배터리80 프로 이...,경기도 안산시 상록구 성포동,180000
2429,아이폰 xs 실버 64gb,아이폰 xs 64gb\n전면 카메라에 약간의 금이 있습니다\n페이스아이디x \n배터...,경기도 용인시 기흥구 서천동,170000
2443,아이폰xs 256기가 (단품),사진 보시면 오른쪽 상단 맨위에 액정나갔습니다 ㅠ \n작동은 잘되요! 고쳐서 사용...,인천 미추홀구 주안3동,230000
2462,아이폰 xr 64기가,네고xxxxxxxxx\n아이폰 화이트 XR 64기가 \n액정 기스X \n카메라 기스...,서울 강동구 길동,200000

In [318]:
idx = df[df['title'].str.contains('아이폰9')].index
df.drop(idx,inplace=True)

In [320]:
df.to_csv('아이폰_x_전처리.csv',index=False, encoding="utf-8-sig")