Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
numbers.sort()
print(f'최솟값 : {numbers[0]} 최댓값 : {numbers[-1]}')

최솟값 : 4 최댓값 : 87

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
i=0
output = 0
for numbers[i] in numbers:
  output = output + numbers[i]
  i += 1

print(f'모든 요소의 합 : {output}\n')
print(f'요소의 평균 : {output/len(numbers)}')

모든 요소의 합 : 378

요소의 평균 : 37.8

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

target = 'apple'

In [ ]:
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']
target = 'apple'
i=0
output = []


for items[i] in items:
  if items[i]==target:
    output.append(i)
  i += 1

print(output)

[0, 3, 5]

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.

예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

In [ ]:
list_task = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
i = 0

while i < len(list_task)-1:
  if list_task[i]==list_task[i+1]:
    list_task.remove(list_task[i+1])
  else:
    i+=1




print(list_task)

['a', 'b', 'c', 'd', 'e']

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [ ]:
list_task = [1,2,3,4,5]
k = int(input('k 값을 입력하세요 :'))
i = 1

if k>len(list_task):
    k=k%len(list_task)

while i <= k:
  list_task.insert(0,list_task.pop())
  i+=1

print(list_task)

k 값을 입력하세요 :11
[5, 1, 2, 3, 4]