In [43]:
import cx_Oracle

cx_Oracle.init_oracle_client(lib_dir=r"C:\Users\Administrator\Downloads\instantclient-basic-windows.x64-23.4.0.24.05\instantclient_23_4")

ProgrammingError: Oracle Client library has already been initialized

In [48]:
connection = cx_Oracle.connect(user='ADMIN', password='T3tkdguqxlavmfhwprxm', dsn='t3gp1_medium')

In [78]:
cur = connection.cursor()

In [4]:
import pandas as pd

In [49]:
cursor.execute("select * from sangnamja")

In [50]:
for row in cursor:
    print(row)

('상남자특', '내가이겻다')

In [16]:
datas = pd.read_sql(sql="select * from sangnamja", con = connection)
datas

C:\Users\Administrator\AppData\Local\Temp\ipykernel_11488\3696273549.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datas = pd.read_sql(sql="select * from sangnamja", con = connection)

   HAHA   NEGA
0  상남자특  내가이겻다

In [40]:
import pandas as pd
import requests
import json
import time
import datetime
import os
from pprint import pprint

columns = ['category_id', 'name', 'product_image', 'pid', 'price', 'update_time', 'location']
df=pd.DataFrame(columns=columns)
# 검색어
input_query = input('검색어를 입력하세요: ')
# API URL
for i in range(50):
    url = f'https://api.bunjang.co.kr/api/1/find_v2.json?q={input_query}&order=score&page={i}&request_id=2024704081724&f_category_id=600700001&stat_device=w&n=100&stat_category_required=1&req_ref=search&version=5'

    # Request API
    response = requests.get(url)
    data = response.json()

    
    
    ipdf = pd.DataFrame(data['list'])[columns]
    df = pd.concat([df, ipdf],ignore_index=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\1439110584.py:24: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, ipdf],ignore_index=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    4993 non-null   object
 1   name           5000 non-null   object
 2   product_image  4993 non-null   object
 3   pid            4993 non-null   object
 4   price          5000 non-null   object
 5   update_time    4993 non-null   float64
 6   location       4993 non-null   object
dtypes: float64(1), object(6)
memory usage: 273.6+ KB

In [75]:
df.to_sql('THUNDER_IPHON_LOW',cursor)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\848796944.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('THUNDER_IPHON_LOW',cursor)

AttributeError: 'cx_Oracle.Cursor' object has no attribute 'cursor'

In [32]:
#컬럼 분류및 확인
#'category_id': '600700001' (의미: 아이폰 본체)전처리시 600700001 확인 없으면 제외
# 'name' (제목)
# 'product_image' (이미지 주소)
# 'pid' (게시물 번호)
# 'price' (가격)
#'update_time' (게시물 등록 시간)
#'location' 없으면 전처리시 제외

columns = ['category_id', 'name', 'product_image', 'pid', 'price', 'update_time', 'location']
df = pd.DataFrame(data['list'])[columns]
df

,category_id,name,product_image,pid,price,update_time,location
0,600700001,[매입] 아이폰XR 중고폰 최고가,https://media.bunjang.co.kr/product/273653922_...,273653922,278951,1718797719,
1,600700001,[매입] 아이폰XS 중고폰 최고가,https://media.bunjang.co.kr/product/273656597_...,273656597,265443,1718798323,
2,600700001,아이폰Xs 512기가 안전결제 창,https://media.bunjang.co.kr/product/263722972_...,263722972,473000,1718877510,
3,600700001,아이폰xr 64 앞뒤 파손 갤럭시a52s 교신,https://media.bunjang.co.kr/product/277037556_...,277037556,100000,1719977969,인천광역시 서구 청라2동
4,600700001,아이폰XS 맥스 64기가,https://media.bunjang.co.kr/product/269734723_...,269734723,230000,1717629717,경상남도 김해시 진영읍
...,...,...,...,...,...,...,...
95,600700001,아이폰xsmax 256,https://media.bunjang.co.kr/product/263162402_...,263162402,450000,1715491883,서울특별시 구로구 수궁동
96,600700001,아이폰XS 골드 64GB,https://media.bunjang.co.kr/product/263167154_...,263167154,210000,1715530438,
97,600700001,[매입] 아이폰XS MAX 중고폰 최고가,https://media.bunjang.co.kr/product/268494356_...,268494356,365471,1717242562,
98,600700001,아이폰xs 64기가 액정배터리교체 425000원!!,https://media.bunjang.co.kr/product/138086887_...,138086887,425000,1718838450,대구광역시 수성구 범물2동
99,600700001,아이폰xs 사기당했어요,https://media.bunjang.co.kr/product/263198553_...,263198553,100,1715510724,

In [74]:
df=df.dropna()
df

,category_id,name,product_image,pid,price,update_time,location
0,600700001,"미개봉 아이폰Xs 64GB, 256GB (실버 골드 블랙)",https://media.bunjang.co.kr/product/261557509_...,261557509,375000,1718870052,
1,600700001,"모든 중고폰 삽니다. 파손폰 아이폰 갤럭시 x, xs 등",https://media.bunjang.co.kr/product/271350956_...,271350956,555555,1720582526,대구광역시 달서구 신당동
2,600700001,액정깨끗 아이폰X 배터리성능100% 실버화이트 64GB 01605,https://media.bunjang.co.kr/product/278935193_...,278935193,264000,1720674289,경상남도 양산시 양주동
3,600700001,액정깨끗 아이폰X 배터리성능100% 블랙 256GB 판매 28687,https://media.bunjang.co.kr/product/278935078_...,278935078,308000,1720674236,경상남도 양산시 양주동
5,600700001,아이폰 x이상 xs xr 12mini se3 se2 대량판매,https://media.bunjang.co.kr/product/278935044_...,278935044,150000,1720674220,
...,...,...,...,...,...,...,...
4995,600700001,아이폰 11 Pro Max 512GB 미드그린 AAA급 수리이력없음,https://media.bunjang.co.kr/product/253675267_...,253675267,430000,1717673298,경기도 광명시 광명7동
4996,600700001,아이폰 XS 64gb 골드 (상태 최상!!),https://media.bunjang.co.kr/product/263784987_...,263784987,220000,1715998865,대전광역시 유성구 온천2동
4997,600700001,아이폰 xs 512,https://media.bunjang.co.kr/product/260836510_...,260836510,400000,1713619358,제주특별자치도 제주시 연동
4998,600700001,아이폰 xs 256gb 판매,https://media.bunjang.co.kr/product/262588791_...,262588791,180000,1715262548,서울특별시 강서구 등촌제2동
4999,600700001,[미개봉] 아이폰15 pro max 512gb 내추럴 티타늄,https://media.bunjang.co.kr/product/267274666_...,267274666,1680000,1717020415,경기도 고양시 덕양구 행신1동

In [61]:
import time
from datetime import datetime

In [63]:
df['update_time']=df['update_time'].astype(int)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\893841078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['update_time']=df['update_time'].astype(int)

In [65]:
df['update_time']= df['update_time'].strftime

TypeError: 'Series' object cannot be interpreted as an integer

In [66]:
df

,category_id,name,product_image,pid,price,update_time,location
0,600700001,"미개봉 아이폰Xs 64GB, 256GB (실버 골드 블랙)",https://media.bunjang.co.kr/product/261557509_...,261557509,375000,1718870052,
1,600700001,"모든 중고폰 삽니다. 파손폰 아이폰 갤럭시 x, xs 등",https://media.bunjang.co.kr/product/271350956_...,271350956,555555,1720582526,대구광역시 달서구 신당동
2,600700001,액정깨끗 아이폰X 배터리성능100% 실버화이트 64GB 01605,https://media.bunjang.co.kr/product/278935193_...,278935193,264000,1720674289,경상남도 양산시 양주동
3,600700001,액정깨끗 아이폰X 배터리성능100% 블랙 256GB 판매 28687,https://media.bunjang.co.kr/product/278935078_...,278935078,308000,1720674236,경상남도 양산시 양주동
5,600700001,아이폰 x이상 xs xr 12mini se3 se2 대량판매,https://media.bunjang.co.kr/product/278935044_...,278935044,150000,1720674220,
...,...,...,...,...,...,...,...
4995,600700001,아이폰 11 Pro Max 512GB 미드그린 AAA급 수리이력없음,https://media.bunjang.co.kr/product/253675267_...,253675267,430000,1717673298,경기도 광명시 광명7동
4996,600700001,아이폰 XS 64gb 골드 (상태 최상!!),https://media.bunjang.co.kr/product/263784987_...,263784987,220000,1715998865,대전광역시 유성구 온천2동
4997,600700001,아이폰 xs 512,https://media.bunjang.co.kr/product/260836510_...,260836510,400000,1713619358,제주특별자치도 제주시 연동
4998,600700001,아이폰 xs 256gb 판매,https://media.bunjang.co.kr/product/262588791_...,262588791,180000,1715262548,서울특별시 강서구 등촌제2동
4999,600700001,[미개봉] 아이폰15 pro max 512gb 내추럴 티타늄,https://media.bunjang.co.kr/product/267274666_...,267274666,1680000,1717020415,경기도 고양시 덕양구 행신1동

In [72]:
df['category_id']=df['category_id'].astype(int)
df['name']=df['name'].astype(str)
df['product_image']=df['product_image'].astype(str)
df['pid']=df['pid'].astype(int)
df['price']=df['price'].astype(int)
df['update_time']=df['update_time'].astype(int)
df['location']=df['location'].astype(str)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\599488299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['category_id']=df['category_id'].astype(int)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\599488299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['name']=df['name'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\599488299.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['product_image']=df['product_image'].astype(str)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\599488299.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pid']=df['pid'].astype(int)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\599488299.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price']=df['price'].astype(int)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\599488299.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['update_time']=df['update_time'].astype(int)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\599488299.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location']=df['location'].astype(str)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4993 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    4993 non-null   int64
 1   name           4993 non-null   object
 2   product_image  4993 non-null   object
 3   pid            4993 non-null   int64
 4   price          4993 non-null   int64
 5   update_time    4993 non-null   int64
 6   location       4993 non-null   object
dtypes: int64(4), object(3)
memory usage: 312.1+ KB

In [60]:
df

,category_id,name,product_image,pid,price,update_time,location
0,600700001,"미개봉 아이폰Xs 64GB, 256GB (실버 골드 블랙)",https://media.bunjang.co.kr/product/261557509_...,261557509,375000,1.718870e+09,
1,600700001,"모든 중고폰 삽니다. 파손폰 아이폰 갤럭시 x, xs 등",https://media.bunjang.co.kr/product/271350956_...,271350956,555555,1.720583e+09,대구광역시 달서구 신당동
2,600700001,액정깨끗 아이폰X 배터리성능100% 실버화이트 64GB 01605,https://media.bunjang.co.kr/product/278935193_...,278935193,264000,1.720674e+09,경상남도 양산시 양주동
3,600700001,액정깨끗 아이폰X 배터리성능100% 블랙 256GB 판매 28687,https://media.bunjang.co.kr/product/278935078_...,278935078,308000,1.720674e+09,경상남도 양산시 양주동
5,600700001,아이폰 x이상 xs xr 12mini se3 se2 대량판매,https://media.bunjang.co.kr/product/278935044_...,278935044,150000,1.720674e+09,
...,...,...,...,...,...,...,...
4995,600700001,아이폰 11 Pro Max 512GB 미드그린 AAA급 수리이력없음,https://media.bunjang.co.kr/product/253675267_...,253675267,430000,1.717673e+09,경기도 광명시 광명7동
4996,600700001,아이폰 XS 64gb 골드 (상태 최상!!),https://media.bunjang.co.kr/product/263784987_...,263784987,220000,1.715999e+09,대전광역시 유성구 온천2동
4997,600700001,아이폰 xs 512,https://media.bunjang.co.kr/product/260836510_...,260836510,400000,1.713619e+09,제주특별자치도 제주시 연동
4998,600700001,아이폰 xs 256gb 판매,https://media.bunjang.co.kr/product/262588791_...,262588791,180000,1.715263e+09,서울특별시 강서구 등촌제2동
4999,600700001,[미개봉] 아이폰15 pro max 512gb 내추럴 티타늄,https://media.bunjang.co.kr/product/267274666_...,267274666,1680000,1.717020e+09,경기도 고양시 덕양구 행신1동

In [ ]:
#category_id 검사
# name 검사
bin=['삽니다','매입','구매','케이스','필름', '강화유리',''
idx = df[df['title'].str.contains('케이스')].index
df.drop(idx,inplace=True)

In [ ]:
cur.executemany

In [84]:
df_list = df.values.tolist()

cur.executemany("INSERT INTO THUNDER_IPHON_LOW (CATEGORY_ID, NAME, PRODUCT_IMAGE, PID, PRICE, UPDATE_TIME, LOCATION) VALUES (:1,:2,:3,:4,:5,:6,:7)",
            df_list, batcherrors = True)

In [86]:
datas = pd.read_sql(sql="select * from THUNDER_IPHON_LOW", con = connection)
datas

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4036\987040108.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datas = pd.read_sql(sql="select * from THUNDER_IPHON_LOW", con = connection)

,CATEGORY_ID,NAME,PRODUCT_IMAGE,PID,PRICE,UPDATE_TIME,LOCATION
0,600700001,아이폰x 화이트64gb 상태좋아요,https://media.bunjang.co.kr/product/277175787_...,277175787,240000,1720541927,None
1,600700001,아이폰X 64기가 배터리99 블랙)39594,https://media.bunjang.co.kr/product/200732003_...,200732003,260000,1720580783,인천광역시 계양구 계산2동
2,600700001,아이폰X 화이트실버 팝니다(사진 참고) + 케이스,https://media.bunjang.co.kr/product/257912153_...,257912153,140000,1720584430,None
3,600700001,베터리100)아이폰X 256G 최상급,https://media.bunjang.co.kr/product/277535688_...,277535688,290000,1720576850,서울특별시 광진구 구의제1동
4,600700001,아이폰x 256g 스그 (특 S급)배터리100,https://media.bunjang.co.kr/product/241154651_...,241154651,288000,1720561443,서울특별시 강남구 일원2동
...,...,...,...,...,...,...,...
14971,600700001,아이폰 Xs Max 512gb,https://media.bunjang.co.kr/product/276662290_...,276662290,270000,1719905343,None
14972,600700001,아이폰 XR,https://media.bunjang.co.kr/product/264187580_...,264187580,180000,1716298740,None
14973,600700001,아이폰13Pro Max 교신,https://media.bunjang.co.kr/product/276797262_...,276797262,500,1719891433,경기도 화성시 남양읍
14974,600700001,아이폰 XS 실버 64기가,https://media.bunjang.co.kr/product/269939917_...,269939917,150000,1717854943,None
14975,600700001,아이폰 xr 64기가 95퍼 검정 블랙,https://media.bunjang.co.kr/product/276068827_...,276068827,160000,1719640877,None