- 함수의 종류 및 예제
- 패키지, 모듈, 함수, 클래스
- 함수 vs 메소드
- 내장함수 연습
- 외장함수 연습 : 날짜 함수, os
- 외부 라이브러리 연습
- 람다함수 연습
- 사용자 함수 연습
- 함수 유형 : 입력 인자와 리턴값에 따른 4가지 형태
- 지역변수와 전역변수
- 프로그램 작성

파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.

1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip() 등이 내장 함수입니다.
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다.
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값을 지정

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용

In [ ]:
#내장 함수 예제
print('Hello, World!')
print(len([1,2,3,4,5]))
print(type(10))

Hello, World!
5
<class 'int'>

In [ ]:
# Q. 내장함수로 다음을 수행하세요.
a = [1,2,3,4,5]
print(sum(a))
print(max(a))
print(min(a))
print(sorted(a))
print(list(reversed(a)))

15
5
1
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
print(type('a'))
print(abs(-4))#절대값
print(round(3.141592458, 3))#반올림
print(pow(2,3))#2의 3승

<class 'str'>
4
3.142
8

In [ ]:
# 외장 함수 예제
import math
print(math.sqrt(16))

import random
print(random.randint(1,10))

import datetime
print(datetime.datetime.now())

4.0
10
2024-05-03 06:25:12.663198

In [ ]:
# Q. datetime.datetime.now()에서 연도, 월, 일, 시, 분, 초, 마이크로초를 각각 출력하세요
from datetime import datetime as dt

now = dt.now()
print(dt.now().year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)
print(now.microsecond)

2024
5
3
6
33
34
223093

In [ ]:
import os
print(os.getcwd())
print(os)

/content
<module 'os' from '/usr/lib/python3.10/os.py'>

In [ ]:
os.mkdir('new_folder')

In [ ]:
os.rmdir('new_folder')

In [ ]:
!ls -o

total 4
drwxr-xr-x 1 root 4096 May  1 13:20 sample_data

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
#외부 라이브러리 예제

import pandas as pd

#pandas의 DataFrame 객체 생성
data = {'Name':['Alice', 'Bob', 'Charlie'], 'Age':[25,30,35]}
df = pd.DataFrame(data)

# pandas의 head() 함수를 사용하여 DataFrame의 처음 5행 출력 (여기서는 3행만 존재)
print(df.head())

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [ ]:
import numpy as np
data = [1,2,3,4]
arr = np.array(data)
print(arr,type(arr))
data_ar = list(arr)
print(data_ar)

[1 2 3 4] <class 'numpy.ndarray'>
[1, 2, 3, 4]

In [ ]:
# 사용자 함수 예제

def greet(name):
    return f"Hello, {name}!"

print(greet('홍길동'))

Hello, 홍길동!

##람다함수

In [ ]:
# 람다 함수는 간단한 한 줄의 함수를 작성할 때 유용
multiply = lambda x,y : x*y
print(multiply(5,5))

25

In [ ]:
# 조건 사용
is_even = lambda x:True if x%2 ==0 else False
print(is_even(4))
print(is_even(3))

True
False

#### 파이썬 패키지,  모듈, 함수, 클래스
- 코드 작성 시 이미 만들어져 있는 함수들을 활용하면 보다 효율적이고 빠르게 개발 가능
- 이미 만들어져 있고 안정성이 검증된 함수들을 성격에 맞게 하나의 파이썬 파일에 묶어 만들어 놓을 것을 모듈이라 함
- 외부 모듈에 있는 함수들을 활용하려면 이 모듈을 먼저 가져와서 사용해야 하는데 이것을 모듈을 임포트한다고 한다.
- 파이썬 모듈이 하나의 파이썬 파일이라면 패키지는 디렉토리로 볼 수 있다.

패키지
1. 라이브러리라고도 부름
2. 특정 기능과 관련된 여러 모듈을 한 그룹으로 묶은 것
3. 패키지 안에 서브패키지가 있을 수도 있다.
4. import 패키지/모듈, from 패키지/모듈 import 서브패키지/모듈
  
   
모듈
1. 여러 기능들이 뭉쳐진 하나의. py파일
2. 함수, 클래스, 변수 등 포함
3. import 모듈

함수
1. 하나의 기능을 가진 코드의 집합
2. 함수를 사용한다 = 함수를 호출한다
3. 함수 사용 형태: 함수( )
   - 필요한 경우 () 안에 매개변수 또는 옵션
4. 종류
   - 내장 함수(built in function)
   - 외장 함수: import 해주어야 함
   
클래스   
- 파이썬은 객체 지향 언어로클래스를 기반으로 객체를 만들어 사용한다.
- 한 파이썬 파일(. py) 내에서 "class class명():"을 통해 클래스 선언

#### 함수 vs 메소드
- 함수 (Function)
    - 함수는 특정 작업을 수행하거나 값을 계산하기 위해 정의된 코드의 블록
    - 함수는 def 키워드를 사용하여 정의
    - 함수는 전역적으로 호출할 수 있거나 다른 함수 내부에서 호출할 수 있다.    
- 메소드 (Method)
    - 메소드는 객체에 속한 함수, 메소드는 특정 객체의 기능으로 정의
    - 메소드는 객체와 연결되어 있으며, . (점) 표기법을 사용하여 해당 객체에 대한 메소드를 호출
    - 메소드는 첫 번째 매개변수로 self를 사용하여 객체 자체를 참조 (클래스 내부에서 메소드를 정의할 때)
- 주요 차이점
    - 정의: 함수는 독립적으로 정의되지만, 메소드는 클래스 내부에서 정의
    - 호출: 함수는 이름만으로 호출될 수 있지만, 메소드는 객체를 통해 호출
    - 참조: 메소드는 첫 번째 매개변수로 객체 자신을 참조(self), 반면 함수는 이런 자체 참조 매개변수를 갖지 않는다.

In [ ]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [ ]:
class MyClass:
    def my_method(self):
        print("Hello from a method")

obj = MyClass()
obj.my_method()

Hello from a method

내장함수 연습

In [ ]:
print(abs(-3))
print(all([1,2,3,0]))#x가 모두참이면 True 거짓이 하나라도있으면 False
print(any([1,2,3,0]))#x가 하나라도 참이면 True 모두 거짓이면 False
print(chr(65))#아스키 코드
print(float(3))
print(int(3.9))
print(max(1,10))
print(min(1,10))
print(pow(10,2))#거듭제곱
print(round(2.675,2))

3
False
True
A
3.0
3
10
1
100
2.67

In [ ]:
type(pow)

builtin_function_or_method

In [ ]:
#함수가 다른 객체와 마찬가지로 변수에 할당되거나, 다른 함수로 전달되거나, 다른 함수로부터 반환될 수 있음.
#pow를 다른 변수에 할당
my_pow = pow
result = my_pow(2,3)
print(result)

def apply_func(func, x, y):
    return func(x,y)
result = apply_func(my_pow, 3, 4)# pow(3,4)
print(result)

8
81

In [ ]:
age = 30
print("I am"+ age + "years old.")

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 30
print("I am", age , "years old.")

I am 30 years old.

In [ ]:
age = 30
print("I am "+ str(age) + " years old.")

I am 30 years old.

##sort, sorted 모두 key,reverse 매개변수를 갖고 있다.
 - reverse : 기본값은 reverse=False(오름차순), reverse=True를 매개변수로 입력하면 내림차순으로 정렬
 - key:정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고 key값을 기준으로 정렬되고 기본값은 오름차순

In [ ]:
my_list = [3,1,4,2]
print(sorted(my_list))
my_list

[1, 2, 3, 4]

[3, 1, 4, 2]

Q.students = [('Alice',90), ('Bob',85),('Charlie',88)]를 점수를 기준으로 정렬하세요

In [ ]:
students = [('Alice',90), ('Bob',85),('Charlie',88)]
students=sorted(students,key= lambda x : x[1] , reverse=True)
print(students)

[('Bob', 85), ('Alice', 90), ('Charlie', 88)]

In [ ]:
my_string = "Python"
print(type(my_string))

<class 'str'>

In [ ]:
print(list(range(5)))
print(list(range(1,6)))
print(list(range(1,10,2)))
print(list(range(0,-10,-1)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

Q. 실행 가능한 숫자를 문자열('5+5') 입력으로 받아 문자열을 숫자 연산으로 실행한 결과값을 출력하세요.

In [ ]:
print(eval(input('연산을 입력하세요.')))#eval함수

연산을 입력하세요.100*1000
100000

In [ ]:
expression = input("계산할 수식을 입력하세요: ")
result = eval(expression)
print(f"계산 결과 :{result}")

계산할 수식을 입력하세요: 5-4
계산 결과 :1

In [ ]:
data = [1,2,3,4,5]
operation = input("실행할 리스트 연산을 입력하세요(예: 'data.append(6), data.pop()').>")
eval(operation)
print(f'계산 결과 : {data}')

실행할 리스트 연산을 입력하세요(예: 'data.append(6), data.pop()').>data.pop(3)
계산 결과 : [1, 2, 3, 5]

In [ ]:
for idx, element in enumerate(['ele1','ele2','ele3']):
    print(idx+1,element)

1 ele1
2 ele2
3 ele3

In [ ]:
#Q. enumerate와 f-string을 사용해서 특정 리스트에서 원하는 형태로 출력을 하세요.(인덱스와 내용을 믹스하여)

과일의 종류
0. 사과
1. 키위
2. 딸기
3. 참외
4. 수박

In [ ]:
frouts = ['사과', '키위', '딸기', '참외', '수박']
print('과일의 종류')
for idx , elements in enumerate(frouts):
    print(f'{idx}. {elements}')

과일의 종류
0. 사과
1. 키위
2. 딸기
3. 참외
4. 수박

In [ ]:
print(range(10),type(range(10)))
print([i for i in  range(10)])
print(type([ i for i in range(10)]))

range(0, 10) <class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [ ]:
print(list(range(10)))
print(type(list(range(10))))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [ ]:
# 몫과 나머지
print(divmod(7,3))

(2, 1)

In [ ]:
# Q. 150분을 시간과 분으로 변환해서 출력하세요.
ah, mi = divmod(150,60)
print(f'{ah}시간 {mi}분')

2시간 30분

In [ ]:
#예시
def convert_time(minutes):
    hours, minutes = divmod(minutes, 60)
    return hours, minutes

minutes = 150
hours, minutes = convert_time(minutes)
print(f'{hours}시간 {minutes}분')

2시간 30분

In [ ]:
#Q: url에서 쿼리문을 추출하여 출력하세요.
#url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이&로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [ ]:
tmp1 = url.split('/')
tmp2 = tmp1[-1].split('?')
result = tmp2[-1].split('&')

print(result)

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

In [ ]:
#Q. List안의 단어가 있으면 해당 제목을 출력
x = input("단어를 검색해 보세요 >>>")
tlist = ['Hello Word!', 'Nice Day', 'HappyBin', 'enDing_Story']
n_tlist =[]

x=x.lower()
for i in range(len(tlist)):
    n_tlist.append(tlist[i].lower())
    if x in n_tlist[i]:
        print(tlist[i])

단어를 검색해 보세요 >>>d
Hello Word!
Nice Day
enDing_Story

In [ ]:
#Q. 영어 이름을 적으면 앞에 글자를 대문자로 바꾸어 주는 프로그램
wiyname = input('이름 입력 : ')

txt = wiyname.title()

print(txt)

이름 입력 : lee sang hyeop
Lee Sang Hyeop

In [ ]:
# 문자열에서 좌우 공백 제거
txt = '   양쪽에 공백이 있는 문자열입니다   '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()
print('<' + ret1 + '>')
print('<' + ret2 + '>')
print('<' + ret3 + '>')

<양쪽에 공백이 있는 문자열입니다   >
<   양쪽에 공백이 있는 문자열입니다>
<양쪽에 공백이 있는 문자열입니다>

In [ ]:
# join : 특정 문자로 결합
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond = ', '
log=bond.join(loglist)
print(log)

2016/08/26 10:12:11, 200, OK, 이 또한 지나가리라

In [ ]:
#특정 문자(열)을 다른 문자(열)로 바꾸기 (replace)
txt = "My password is 1234"
ret1 = txt.replace('1', '0')
ret2 = txt.replace('1','python')

print(ret1)
print(ret2)

txt = '매일 많은 일들이 일어납니다.'

ret3 = txt.replace("많은 일들이", '아침 일찍')

print(ret3)

My password is 0234
My password is python234
매일 아침 일찍 일어납니다.

In [ ]:
# Q. 입력된 문장에서 'bad'를 'good'로 교체해서 출력하세요. (입력 예시 : This is a bad example)

txt = input('문장 입력 >>')
#txt = 'This is a bad example'

ret1= txt.replace('bad', 'good')
print(ret1)

문장 입력 >>This is a bad examplebadbadbadbadbadbadbad
This is a good examplegoodgoodgoodgoodgoodgoodgood

In [ ]:
val = int(input('문자 코드값을 입력하세요 : '))
ch = chr(val)

print('코드값: %d  문자 : %s' %(val, ch))

문자 코드값을 입력하세요 : 60
코드값: 60  문자 : <

In [ ]:
for i in range(128):
    print(chr(i),end = "")

 
 !"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~

In [ ]:
while True:
    val = int(input('문자 코드값을 입력하세요 (0을 입력하면 종료) : '))
    if val == 0:
        break

    ch = chr(val)

    print('코드값: %d  문자 : %s' %(val, ch))

문자 코드값을 입력하세요 (0번 입력하면 종료) : 1
코드값: 1  문자 : 
문자 코드값을 입력하세요 (0번 입력하면 종료) : 2
코드값: 2  문자 : 
문자 코드값을 입력하세요 (0번 입력하면 종료) : 3
코드값: 3  문자 : 
문자 코드값을 입력하세요 (0번 입력하면 종료) : 4
코드값: 4  문자 : 
문자 코드값을 입력하세요 (0번 입력하면 종료) : 5
코드값: 5  문자 : 
문자 코드값을 입력하세요 (0번 입력하면 종료) : 0

In [ ]:
# 문자열이 문자인지 검사
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()
print(ret1)
print(ret2)
print(ret3)
print(ret4)

True
True
False
True

In [ ]:
# isdigit() 문자열이 숫자인지 검사

txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'

ret1= txt1.isdigit()
ret2= txt2.isdigit()
ret3= txt3.isdigit()

print(ret1)
print(ret2)
print(ret3)

False
False
True

In [ ]:
# isalnum() : 문자열이 문자 또는 숫자인지 검사: 문자열이 영어, 한글 혹은 숫자로 되어있으면 참 리턴 , 아니면 거짓 리턴
txt1 = '안녕하세요?'
txt2 = '1. Title-제목을 넣으세요'
txt3 = '3피오R2D2'

ret1 = txt1.isalnum()
ret2 = txt2.isalnum()
ret3 = txt3.isalnum()

print(ret1,ret2,ret3)

False False True

In [ ]:
txt = "A lot of Things occur each day."
ret1 = txt.upper()
ret2 = txt.lower()
ret3 = txt.title()
ret4 = txt.capitalize()

print(ret1)
print(ret2)
print(ret3)
print(ret4)

A LOT OF THINGS OCCUR EACH DAY.
a lot of things occur each day.
A Lot Of Things Occur Each Day.
A lot of things occur each day.

In [ ]:
#Q. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

se_nums = set(numbers)

output={}

for se_num in se_nums:
    count = 0
    for i in numbers:
        if i == se_num:
            count += 1

    output[se_num]=count

print(output)
for i in se_nums:
    print(f'{i}는 {output[i]}번 나왔습니다.')

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}
2는 2번 나왔습니다.
3는 4번 나왔습니다.
4는 2번 나왔습니다.
5는 2번 나왔습니다.
6는 2번 나왔습니다.
7는 2번 나왔습니다.
8는 2번 나왔습니다.
9는 2번 나왔습니다.

In [ ]:

numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

counter = {}
for value in numbers:
    if value in counter:
        counter[value] += 1
    else:
        counter[value] = 1

print(counter)

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

In [ ]:
#list a의 모든 원소를 실수형으로 바꾸어 출력하세요
a=[1,2,3,4,5]
a_float = list(map(float, a))
print(a_float)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
a=[1.0,2.0,3.0,4.0,5.0]
a_float = list(map(int, a))
print(a_float)

[1, 2, 3, 4, 5]

In [ ]:
#Q. 데이터를 입력하지 않으면 종료되는 코딩을 수행하세요. 단 반복적으로 작업을 수행할 수 있음.
while 1:
    a =input('데이터 입력하세용: ')
    if a =='':
        break
    else:
        print(a)

데이터 입력하세용: asd
asd
데이터 입력하세용: sdf
sdf
데이터 입력하세용: qwe
qwe
데이터 입력하세용: asdzx`1
asdzx`1
데이터 입력하세용: 1
1
데이터 입력하세용:

데이터 입력하세용:

In [ ]:
while 1:
    data = input()
    if not data: break
    print(data)

as
as
qe
qe
zxc
zxc

##표준 라이브러리 외장함수

[ 날짜 함수 ]

날짜와 시간을 처리하기 위한 주요 라이브러리는 datetime입니다. 이 라이브러리는 날짜, 시간, 시간대와 관련된 다양한 클래스와 함수를 제공하며, 날짜와 시간 연산에 매우 유용
- datetime.date: 날짜(연, 월, 일)를 표현하는 클래스
    - today(): 오늘의 날짜를 반환
- datetime.time: 시간(시, 분, 초, 마이크로초)을 표현하는 클래스
- datetime.datetime: 날짜와 시간을 모두 포함하는 클래스
    - now(): 현재의 날짜와 시간을 반환
- datetime.timedelta: 두 날짜/시간 간의 차이를 표현하는 클래스
- datetime.tzinfo: 시간대 정보를 위한 기본 클래스

datetime 모듈의 날짜와 시간 객체들을 문자열 형식으로 포맷팅하거나 문자열로부터 날짜와 시간 객체를 생성하기 위해 사용하는 주요 메서드는 strftime()와 strptime()
- strftime() (String Format Time)
    - 날짜와 시간 객체를 문자열로 변환하는 데 사용
    - 사용자가 지정한 형식 문자열을 기반으로 날짜와 시간 정보를 문자열로 표현
- strptime() (String Parse Time)
    - 문자열을 날짜와 시간 객체로 변환하는 데 사용
    - 주어진 형식 문자열을 기반으로 문자열에서 날짜와 시간 정보를 파싱

In [ ]:
import datetime

print(datetime.datetime.now())

2024-05-08 05:16:25.552763

In [ ]:
now =datetime.datetime.now()
a = now.strftime('%y-%m-%d')
print(a)
b=[]
b.append(a)
print(b)

24-05-08
['24-05-08']

In [ ]:
import datetime

#현재 날짜와 시간 가져오기
now = datetime.datetime.now()
print(now)

#오늘의 날짜만 가져오기
today = datetime.date.today()
print(today)

#특정 날짜와 시간을 직접 지정
d = datetime.datetime(2023, 11, 2, 14, 29, 45)
print(d)

#날짜 간의 차이 계산
delta = datetime.timedelta(days=7)
new_date = today + delta
print(new_date)

#두 날짜 간의 차이 계산
date1 = datetime.date(2023, 1, 1)
date2 = datetime.date(2023, 12, 31)
diff = date2 -date1
print(diff.days)
print(diff)

2024-05-08 05:26:12.886733
2024-05-08
2023-11-02 14:29:45
2024-05-15
364
364 days, 0:00:00

포맷 코드 표<BR>
포맷코드   설명   예<BR>
%a   요일 줄임말   Sun, Mon, ... Sat<BR>
%A   요일   Sunday, Monday, ..., Saturday<BR>
%w   요일을 숫자로 표시, 월요일일요일, 06   0, 1, ..., 6<BR>
%d   일   01, 02, ..., 31<BR>
%b   월 줄임말   Jan, Feb, ..., Dec<BR>
%B   월   January, February, …, December<BR>
%m   숫자 월   01, 02, ..., 12<BR>
%y   두 자릿수 연도   01, 02, ..., 99<BR>
%Y   네 자릿수 연도   0001, 0002, ..., 2017, 2018, 9999<BR>
%H   시간(24시간)   00, 01, ..., 23<BR>
%I   시간(12시간)   01, 02, ..., 12<BR>
%p   AM, PM   AM, PM<BR>
%M   분   00, 01, ..., 59<BR>
%S   초   00, 01, ..., 59<BR>
%Z   시간대   대한민국 표준시<BR>
%j   1월 1일부터 경과한 일수   001, 002, ..., 366<BR>
%U   1년중 주차, 월요일이 한 주의 시작으로   00, 01, ..., 53<BR>
%W   1년중 주차, 월요일이 한 주의 시작으로   00, 01, ..., 53<BR>
%c   날짜, 요일, 시간을 출력, 현재 시간대 기준   Sat May 19 11:14:27 2018<BR>
%x   날짜를 출력, 현재 시간대 기준   05/19/18<BR>
%X   시간을 출력, 현재 시간대 기준   '11:44:22'

In [ ]:
import datetime

now = datetime.datetime.now()
print(now, type(now))
formatted = now.strftime("%Y-%m-%d %H:%M:%S")
print(formatted,type(formatted))

2024-05-08 05:36:06.511871 <class 'datetime.datetime'>
2024-05-08  05:36:06 <class 'str'>

In [ ]:
import datetime

date_string = "2023-11-02 14:45:30"
print(date_string,type(date_string))
dt = datetime.datetime.strptime(date_string ,"%Y-%m-%d %H:%M:%S")
print(dt,type(dt))

2023-11-02 14:45:30 <class 'str'>
2023-11-02 14:45:30 <class 'datetime.datetime'>

time 모듈
- 시스템 시간에 접근하거나 간단한 타이머 기능을 구현
- 함수와 같이 프로그램을 일정 시간 동안 중지시키는 데 사용
- 시간을 연도, 월, 일, 시, 분, 초 등의 구성 요소로 변환하고 다룰 수 있는 struct_time 객체를 제공
- time 모듈은 날짜와 시간을 처리하는 다양한 프로그래밍 요구에 대응할 수 있는 기본적인 기능을 제공하지만, 더 복잡한 날짜 시간 처리나 시간대 변환 등은 datetime 모듈 또는 외부 라이브러리를 사용

In [ ]:
# # localtime() 함수는 파이썬의 time 모듈에 포함되어 있으며, 이함수는 초로 표시되는 시간을 구조화된 시간 튜플형태
import time
local_time = time.localtime()
print(local_time)

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=8, tm_hour=5, tm_min=45, tm_sec=24, tm_wday=2, tm_yday=129, tm_isdst=0)

In [ ]:
import time
a=0
while 1:
    a= a+1
    time.sleep(0.5)
    print('asd', end = "")

    if a>100:
        break

asdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd

In [ ]:
# 현재 시간을 1975년 1월 1일 0시 0분 0초(유닉스 시간의 시작)부터 현재까지의 초(second)로 표현한 값을 반환

import time

print(time.time())

1715147332.0479226

In [ ]:
# 초로 표현된 시간을 구조화된 시간 튜플 형태로 반환
t = time.time()
time.localtime(t)

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=8, tm_hour=5, tm_min=50, tm_sec=1, tm_wday=2, tm_yday=129, tm_isdst=0)

In [ ]:
# strftime 함수는 시간에 관계된 것을 세밀하게 표현할 수 있는 여러 가지 포맷 코드 제공
# time.localtime() 함수는 초로 표현된 시간을 구조화된 시간 튜플 형태로 변환
import time
d = time.strftime('%d', time.localtime(time.time()))
m = time.strftime('%m', time.localtime(time.time()))
y = time.strftime('%Y', time.localtime(time.time()))
a = time.strftime('%A', time.localtime(time.time()))

print(d)
print(m)
print(y)
print(a)

08
05
2024
Wednesday

In [ ]:
import time
qwe = time.localtime(time.time())
d = time.strftime('%d', qwe)
m = time.strftime('%m', qwe)
y = time.strftime('%Y', qwe)
a = time.strftime('%A', qwe)
print(d)
print(m)
print(y)
print(a)

08
05
2024
Wednesday

In [ ]:
#Q. 1609160537.371015 을 "Sat jun 26 08:35:03 2021" 포멧으로 출력하세요
tm = 1609160537.371015
tm_data = time.localtime(tm)
output = time.strftime("%a %b %d %H:%M:%S %Y" , tm_data)
print(output)

Mon Dec 28 13:02:17 2020

In [ ]:
import time
current_time = time.localtime(1609160537.371015)
print(current_time)
#struct_time 객체를 인간이 읽을 수 있는 형태로 변환합니다.
readable_time = time.asctime(current_time)
print(readable_time)

time.struct_time(tm_year=2020, tm_mon=12, tm_mday=28, tm_hour=13, tm_min=2, tm_sec=17, tm_wday=0, tm_yday=363, tm_isdst=0)
Mon Dec 28 13:02:17 2020

In [ ]:
output = time.strftime("%a %b %d %H:%M:%S %Y")
print(output)

Wed May 08 06:14:41 2024

In [ ]:
# timestamp => str

import time
t = time.time()#<= time.time() 이형식이 타임스템프
print(t, type(t))
s = str(t)
print(s, type(s))
i = int(t)
print(i, type(i))

1715149284.2841566 <class 'float'>
1715149284.2841566 <class 'str'>
1715149284 <class 'int'>

In [ ]:
# timestamp => datetime
from datetime import datetime
t = time.time()
print(t,type(t))
d = datetime.fromtimestamp(t)
print(d, type(d))

1715149426.581876 <class 'float'>
2024-05-08 06:23:46.581876 <class 'datetime.datetime'>

In [ ]:
# datetime => str
from datetime import datetime

s = datetime.now()
print(s, type(s))

s1 = s.strftime("%Y-%m-%d %H:%M:%S")
print(s1, type(s1))

2024-05-08 06:31:07.178660 <class 'datetime.datetime'>
2024-05-08 06:31:07 <class 'str'>

In [ ]:
# timestamp => datetime => str
# Q. 현재 시간을 년-월-일 시:분:초로 출력하세요
import time
from datetime import datetime

t=time.time()
d = datetime.fromtimestamp(t)       #timestamp => datetime
s = d.strftime("%y-%m-%d %H:%M:%S") #datetime => str, %X 시간을 출력, 현재 시간대 기준 "11:44:22"
s

'24-05-08 06:38:28'

In [ ]:
#str => datetime
from datetime import datetime
s = '2021-07-20 11:13:58'
print(s,type(s))
d = datetime.strptime(s, "%Y-%m-%d %H:%M:%S")
print(d, type(d))

2021-07-20 11:13:58 <class 'str'>
2021-07-20 11:13:58 <class 'datetime.datetime'>

In [ ]:
# datetime => timestamp
d = datetime.today()
print(d, type(d))
timestamp = time.mktime(d.timetuple())# 이거 중요
print(timestamp, type(timestamp))

2024-05-08 06:45:03.101299 <class 'datetime.datetime'>
1715150703.0 <class 'float'>

In [ ]:
d = datetime.today()
print(d.timetuple())

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=8, tm_hour=6, tm_min=45, tm_sec=3, tm_wday=2, tm_yday=129, tm_isdst=-1)

In [ ]:
# str => datetime => timestamp
s = '2021-07-20 11:13:58'
timestamp = time.mktime(datetime.strptime(s,'%Y-%m-%d %H:%M:%S').timetuple())
print(timestamp, type(timestamp))

1626779638.0 <class 'float'>

In [2]:
#외장함수: 파이썬을 설치할 때 자동으로 설치
#pickle은 객채의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈
import pickle
f = open('test3.txt' , 'wb')
data = {1:'python', 2:'you need'}
pickle.dump(data, f)
f.close()

In [4]:
!cat /content/test3.txt

��       }�(K�python�K�you need�u.

In [3]:
import pickle
f=open('test3.txt', 'rb')
data = pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [5]:
#os.environ['PATH']명령의 출력 결과는 운영 체제가 프로그램이나 실행 파일을 찾기 위해 검색하는 디랙터리들의 리스트
#PATH 설정은 시스템이 사용자가 입력하는 명령어를 인식하고 해당 실행 파일을 효율적으로 찾아내도록 도와준다

import os
os.environ['PATH']

'/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin'

In [10]:
ls /

bin@                        datalab/  kaggle/  libx32@                   opt/   sbin@  tools/
boot/                       dev/      lib@     media/                    proc/  srv/   usr/
content/                    etc/      lib32@   mnt/                      root/  sys/   var/
cuda-keyring_1.0-1_all.deb  home/     lib64@   NGC-DL-CONTAINER-LICENSE  run/   tmp/

In [11]:
!ls /

bin			    datalab  kaggle  libx32		       opt   sbin  tools
boot			    dev      lib     media		       proc  srv   usr
content			    etc      lib32   mnt		       root  sys   var
cuda-keyring_1.0-1_all.deb  home     lib64   NGC-DL-CONTAINER-LICENSE  run   tmp

In [14]:
#현제 작업폴더
import os
os.getcwd()

'/content'

In [15]:
!ls

drive  sample_data  test3.txt

In [16]:
!mkdir /content/test

In [19]:
!ls -la

total 28
drwxr-xr-x 1 root root 4096 May  9 02:28 .
drwxr-xr-x 1 root root 4096 May  9 02:13 ..
drwxr-xr-x 4 root root 4096 May  7 13:21 .config
drwx------ 5 root root 4096 May  9 02:22 drive
drwxr-xr-x 1 root root 4096 May  7 13:22 sample_data
drwxr-xr-x 2 root root 4096 May  9 02:28 test
-rw-r--r-- 1 root root   40 May  9 02:14 test3.txt

In [25]:
# 폴더 변경
os.chdir('/content/test')

In [26]:
%pwd

'/content/test'

In [23]:
os.chdir('/content/')

In [27]:
# 빈파일 만들기
!touch test1.txt

In [31]:
!ls

test_new.txt

In [30]:
# 파일 이름 변경
os.rename('test1.txt', 'test_new.txt')

In [33]:
!ls

test_new.txt

In [34]:
!touch test2.txt

In [35]:
#glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디랙토리의 리스트를 반환
import glob
glob.glob('/content/test/*.txt')

['/content/test/test2.txt', '/content/test/test_new.txt']

In [36]:
with open('mydata.txt','w') as f:
    f.write(
'''
a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again


if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late
''')
with open('mydata.txt', 'r') as f:
    data = f.read()
    print(data)

a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again


if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

In [37]:
words_list = data
words_list = data.replace('.', '').replace('\'', '').replace('?', '').replace('\n', '').replace('!', '').lower().split()
len(words_list)

178

In [39]:
import re

#데이터 받음
words_list = data
#정규 표현식을 사용하여 모든 구드점을 제거하고 소문자로 반환
words_list = re.sub(r"[.,!\n\']" , "" ,  words_list).lower()
#공백으로 단어 분리
words_list = words_list.split()
#단어 리스트의 길이 출력
print(len(words_list))

178

Q. 주어진 텍스트에서 단어 빈도를 아래와 같이 출력하세요.

 ======================================\
가장 많이 나온 단어 5개를 뽑아 봤습니다.\
[the] -> [8]회 나타남\
[a  ] -> [6]회 나타남\
[on ] -> [5]회 나타남\
[of ] -> [4]회 나타남\
[to ] -> [4]회 나타남

In [60]:
keys = set(words_list)

output = {}
for i in keys:
    count = 0
    for k in words_list:
        if i==k:
            count +=1

    output[i] = count

st_output = sorted(output.items(), key = lambda x : x[1],reverse = True)#key = lambda x : x[1] <=value값으로 정렬하는 키워드

for i in range(5):
    print(f'[{st_output[i][0]}]=>[{st_output[i][1]}]회 나타남')

[the]=>[8]회 나타남
[a]=>[6]회 나타남
[on]=>[5]회 나타남
[of]=>[4]회 나타남
[to]=>[4]회 나타남

In [69]:
# 예시
word_frequency = {}
for word in words_list:
    if word in word_frequency:
        word_frequency[word] +=1
    else:
        word_frequency[word] = 1
#dic.items : {}'the':5 , 'a':3} => ('the':5) 튜플로 바꿔서 인덱스가 생김
word_frequency = sorted(output.items(), key = lambda x : x[1],reverse = True)

print('=' * 50)
print('가장 많이 나온 단어 5개를 뽑아 봤습니다.')

for i in range(min(5, len(word_frequency))):#인덱스 에러를 방지하기 위해 검사합니다
    word, count = word_frequency[i]
    print(f'[{word:<3}]=>[{count}]회 나타남')

==================================================
가장 많이 나온 단어 5개를 뽑아 봤습니다.
[the]=>[8]회 나타남
[a  ]=>[6]회 나타남
[on ]=>[5]회 나타남
[of ]=>[4]회 나타남
[to ]=>[4]회 나타남

In [93]:
name = 'John'
age = 23
balance = 1234.567

#문자열 정렬
tormatted_string = f"{name:<10} is {age:>3} years old"
print(tormatted_string)

#숫자 정밀도 및 포맷
tormatted_number = f"{balance:<20.99f}"
print(tormatted_number)

## 숫자 자리수 채우기
formatted_number_padded = f"{age:05}"
print(formatted_number_padded)

John       is  23 years old
1234.567000000000007275957614183425903320312500000000000000000000000000000000000000000000000000000000000
00023

In [100]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')

titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [104]:
import numpy as np

ar = np.arange(200,301)
print(ar , type(ar))

[200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217
 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253
 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271
 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289
 290 291 292 293 294 295 296 297 298 299 300] <class 'numpy.ndarray'>

In [109]:
# 가변적인 인자값
def sum(*args):
    sum=0
    for i in args:
        sum += i
    return sum


sum(200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
    213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
    226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300)

25250

####람다 함수 연습

In [110]:
sum = lambda a,b:a+b
sum(3,4)

7

In [111]:
def sum(a,b):
    return a+b

print(sum(3,4))

7

In [115]:
myList = [lambda a,b:a+b , lambda a,b:a-b, lambda a,b:a*b, lambda a,b:a/b]
for i in range(len(myList)):
    print(myList[i](5,5))

10
0
25
1.0

####사용자 함수 연습

In [139]:
#반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!을 구하세요

import math
def cal_factorlal(x):
    y = range(1,x+1)
    return math.prod(y)

print(cal_factorlal(5))
print(cal_factorlal(100))

120
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [141]:
def factorial(n):
    result =1
    for i in range(1 ,n+1):
        result *= i
    return result

print(factorial(5))
print(factorial(100))

120
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [121]:
def add_number(n1, n2):
    ret = n1 + n2
    return ret
def add_txt(t1, t2):
    print(t1+t2)

ans1 = add_number(10,15)
print(ans1)

ans2 = add_number(20,25)
print(ans2)

txt1 = '나는'
txt2 = '민간'
add_txt(txt1, txt2)

25
45
나는민간

In [125]:
#함수 인자 : 기본적으로 인자 순서에 대응되는 것을 함수 코드에 대입
def add_txt(t1, t2='파이썬'):#t2 기본값을 대입한 기본 인자는 마지막에 위치해야함
    print(t1 + ':' + t2)

add_txt('베스트',)
add_txt(t2='대한', t1='민국')

베스트:파이썬
민국:대한

In [132]:
def func1(*args):# 인자의 개수가 불명확한 경우 가변 인자 사용 args는 함수 내부에서 튜플로 처리
    print(args)

def func2(width, height, **kwargs):#키워드 인자가 불명확한 경우 **kwargs를 사용 함수 내부에서 사전으로 처리
    print(kwargs)

func1()
func1(1,2,3,4,5)
func2(10,20)
func2(10,20, depth=50, color='blue')

()
(1, 2, 3, 4, 5)
{}
{'depth': 50, 'color': 'blue'}

In [142]:
def func2(width, height, **kwargs):
    return width, height, kwargs

func2(10,20,depth = 50, color = 'Blue')

(10, 20, {'depth': 50, 'color': 'Blue'})

In [143]:
# 가변적인 인풋
list1 = []

def listchng(*args):
    for i in args:
        i = float(i)
        list1.append(i)
    return list1
listchng(1,2,3,4,5,6)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

### 함수 유형
- 입력 인자와 리턴값 여부에 따른 함수 유형

In [144]:
#입력값이 없고 결과값만 있는 함수
def say():
    return 'hi'

a = say()
print(a)

hi

In [148]:
#입력값은 있고 결과값이 없는 함수
#결과값은 오직 return 명령어로만 돌려 받을 수 있음

def add(a,b):
    print('%d, %d의 합은 %d입니다' %(a,b,a+b))

a =add(3,4)
print(a)

3, 4의 합은 7입니다

In [149]:
# 입력값도 결과값도 없는 함수

def say():
    print('hi')

a= say()
print(a)

hi
None

In [150]:
# 입력값과 결과값이 모두 있는 함수
def add(a,b):
    return a+b

a = add(3,4)
print(a)

7

In [152]:
# 입력값과 결과값이 모두 있는 함수
def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c

print("가장 큰 수는 %d 입니다" %(max(20,1,30)))
max(10,20,0)

가장 큰 수는 30 입니다

20

In [157]:
def math(x,y,z):
    if z =='+':
        return x + y
    elif z =='-':
        return x - y
    elif z =='*':
        return x * y
    elif z =='/':
        return x / y
    elif z =='%':
        return x % y
    elif z =='//':
        return x // y
    elif z =='**':
        return x**y
    else:
        return

a = int(input('숫자 1 >'))
b = int(input('숫자 2 >'))
c = input('연산자 >')

print(math(a,b,c))

숫자 1 >5
숫자 2 >4
연산자 >**
625

In [159]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게됨

def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

7 12

#### 지역변수와 전역변수
- 지역변수는 함수 내부에서만 유효하고
- 전역변수는 코드 전반에 걸쳐 유효
- 함수의 인자는 지역변수

In [160]:
strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)

func1()

지역변수

In [161]:
print(strdata)

전역변수

In [164]:
param = 10
def func2(param):
    print('a')
    param =1
print(param)

10

In [162]:
param = 10
def func3():
    global param
    param=50

func3()
print(param)

50