Task1_0508. title() 함수를 사용하지 않고 동일한 결과를 출력하세요.

lee sang hyeop => Lee Sang Hyeop

In [ ]:
name = 'lee sang hyeop'
sp_name = name.split()
print(sp_name)
for i in range(len(sp_name)):
    sp_name[i] = str(sp_name[i][0].upper()) + str(sp_name[i][1:])
uname = ''
for a in sp_name:
    uname=uname+a+' '
print(uname)

['lee', 'sang', 'hyeop']
Lee Sang Hyeop

In [ ]:
name = 'lee sang hyeop'
sp_name = name.split()
print(sp_name[0][0].upper())

L

In [ ]:
#예시
a = input("이름을 영어로 입력하세요.")

b=a.strip().split(" ")
e =""

for i in range(len(b)):
    c = list(b[i])

    c[0] = c[0].upper()
    d = "".join(c)
    c = []
    e = e + d + " "
print(f"당신의 이름을 바꾸면 {e}입니다.")

Task2_0507. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.

a::b::c

In [ ]:
list1 = ['a','b','c']
bond = '::'
output= bond.join(list1)
print(output)

a::b::c

In [ ]:
#예시
li = ['a','b','c']
'::'.join(li)

Task3_0508. 다음을 수행하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 숫자로만 이루어져 있는지 확인합니다.
- 만약 숫자로만 이루어져 있다면, 그 숫자를 정수로 변환하여 100을 더한 결과를 출력합니다.
- 숫자가 아닌 문자가 포함되어 있다면, 사용자에게 숫자만 입력하라는 메시지를 출력합니다.
- 연산이 수행이 완료될 때까지 반복하고 수행이 완료되면 break 합니다.

In [3]:
while 1:
    strings = input("문자열을 입력하세요 : ")
    str_sp = strings.replace(" ", "")
    if not str_sp.isdigit():
        print("숫자로만 입력해주세요")
        continue
    else:
        int_str = int(str_sp)
        print(int_str +100)
        break

문자열을 입력하세요 : 555
655

In [ ]:
#예시
while 1:
  num = input('숫자를 입력하세요.')
  if num.isdigit():
      print(int(num)+100)
      break
  else:
      print('숫자만 입력하세요.')

Task4_0508. 문자와 숫자로만 구성된 아이디만 유효한 규칙을 만들려고 한다. 아래 사항을 참조하여 프로그램을 작성하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 알파벳과 숫자로만 이루어져 있는지 확인합니다.
- 만약 조건을 만족한다면 "유효한 아이디입니다"라고 출력합니다.
- 그렇지 않다면, "아이디는 알파벳과 숫자만 포함할 수 있습니다"라고 메시지를 출력합니다.

In [ ]:
while 1:
    strings = input("문자열을 입력하세요 : ")
    if not strings.isalnum():
        print("아이디는 알파벳과 숫자만 포함할 수 있습니다")
        continue
    else:
        print('유효한 아이디입니다')
        break

문자열을 입력하세요 : asfjalkj ``13`13
아이디는 알파벳과 숫자만 포함할 수 있습니다
문자열을 입력하세요 : sdf
유효한 아이디입니다

Task5_0508. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요.

In [ ]:
list = []

for i in range(0,20,2):

    list.append(i*i)

print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
print([a*a  for a in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
#예시
print(list(map(lambda x: x*x, range(0,20,2))))

Task6_0508. 유닉스 타임스탬프를 받아서 해당 시간을 datetime.datetime 객체로 변환하고, 그 결과를 출력하는 사용자 함수를 작성하여 임의의 타임스탬프를 입력하여 결과를 출력하세요.

In [10]:
import time
import datetime
def ts_to_dt():
    now = time.time()
    print(now)
    dt = datetime.datetime.fromtimestamp(now)
    print(dt)

if __name__ =='__main__':
    ts_to_dt()

1715217399.6847098
2024-05-09 01:16:39.684710

In [12]:
#예시
def timestamp_to_datetime(timestamp):
    return datetime.datetime.fromtimestamp(timestamp)

ts = float(input('timestamp를 입력하세요 > '))
dt = timestamp_to_datetime(ts)
print(dt)

timestamp를 입력하세요 > 1715217399.6847098
2024-05-09 01:16:39.684710

Task7_0508. datetime 객체를 문자열로 변환하는 사용자 함수를 작성하여 datetime 객체를 "YYYY-MM-DD HH:MM:SS" 형식의 문자열로 변환하고 출력하세요.

In [8]:
from datetime import datetime

def day_display():
    now = datetime.now()
    formatted=now.strftime('%Y-%m-%d %H:%M:%S')
    print(formatted,type(formatted))

day_display()

2024-05-09 01:15:17.444239
2024-05-09 01:15:17 <class 'str'>

In [ ]:
import datetime
import pytz
def datetime_to_string(dt):
    sceul_timezone = pytz.timezone('Asia/Seoul')
    dt_korea = dt.astimezone(sceul_timezone)
    return dt_korea.strftime("%Y-%m-%d %H:%M:%S")

data_string = input('datetime을 입력해보세요')
dt = datetime.datetime.strptime(data_string, "%Y-%m-%d %H:%M:%S")
dt = dt.replace(tzinfo=pytz.utc)
s = datetime_to_string(dt)
print(s)

In [ ]:
import datetime
def datetime_to_string(dt):
    return dt.strftime('%Y-%m-%d %H:%M:%S')

dt = input('datetime을 입력하세요> ')
dt = datetime.datetime.strptime(dt, '%Y-%m-%d %H:%M:%S')
s = datetime_to_string(dt)
print(s)

In [3]:
#Task7번 타임존을 한국 기준으로 바꾸어 출력되게 하는 코드 아래와 같습니다.
from datetime import datetime

# def str_date (date) :
#   return date.strftime('%Y-%m-%d %H:%M:%S')

def datetime_to_string(dt):
    soeul_timezone = pytz.timezone('Asia/Seoul')
    dt_korea = dt.astimezone(soeul_timezone)
    return dt_korea.strftime('%Y-%m-%d %H:%M:%S')

# result = str_date(datetime.now())
result = datetime_to_string(datetime.now())
print(result , type(result))

2024-05-09 14:02:30 <class 'str'>

Task8_0508. 올해 경과된 날짜수 계산하세요.

In [14]:
import time

output = time.strftime('%j', time.localtime(time.time()))
print(f'올해는 {output}일만큼 지나갔습니다')

올해는 130일만큼 지나갔습니다

In [18]:
#예시
import datetime

current_date = datetime.date.today()

start_of_year = datetime.date(current_date.year,1,1)

days_passed = (current_date - start_of_year).days

print((f'올해 경과된 날짜 수 {days_passed}일'))

올해 경과된 날짜 수 129일

In [17]:
import time
numday = time.localtime(time.time())
print(numday)
numday.tm_yday

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=9, tm_hour=1, tm_min=27, tm_sec=58, tm_wday=3, tm_yday=130, tm_isdst=0)

130

Task9_0508. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [ ]:
now = datetime.now()
dow = {'Mon':'월요일', 'Tue':'화요일','Wed':'수요일','Thu':'목요일','Fri':'금요일', 'Sat':'토요일', 'Sun':'일요일'}
formatted=now.strftime('%Y %m %d %a')
sp_fm = formatted.split(" ")
print(f'{sp_fm[0]}-{sp_fm[1]}-{sp_fm[2]} 오늘은 {dow[sp_fm[3]]}입니다.')

2024-05-08 오늘은 수요일입니다.

In [ ]:
now = datetime.now()
dow = {'Mon':'월요일', 'Tue':'화요일','Wed':'수요일','Thu':'목요일','Fri':'금요일', 'Sat':'토요일', 'Sun':'일요일'}
formatted=now.strftime('%Y-%m-%d 오늘은 %a입니다')
formatted

'2024-05-08 오늘은 Wed입니다'

In [19]:
import time

weekdays = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']
t = time.localtime()
today = f'{t.tm_year}-{t.tm_mon}-{t.tm_mday}'
week = weekdays[t.tm_wday]
# print('%s 오늘은 %s입니다' %(today, week))
print(f'{today} 오늘은 {week}입니다.')

2024-5-9 오늘은 목요일입니다.

Task10_0508. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1ms=0.001초)

In [ ]:
import time
from datetime import datetime
i = 0
now = datetime.now()
sf = float(now.strftime('%s.%f'))
for i in range(1, 1000001):
    i += i
now = datetime.now()
ff = float(now.strftime('%s.%f'))
tt=round((ff-sf),3)

print(f'프로그램이 {tt}초만큼 돌아갔습니다')

프로그램이 0.218초만큼 돌아갔습니다